﻿@{
    Layout = null;
}

<nps-tabs></nps-tabs>

<div data-ng-show="selectedTabIndex==0">
    <form name="form" novalidate data-ng-submit="submit()" class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Описание набора</h4></div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("displayName", "Наименование набора", true) { maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("systemName", "Системный идентификатор", false) { maxLength = 100 })
            </div>
        </div>
    </form>
</div>

<div data-ng-show="selectedTabIndex==1">
    <form name="values" novalidate class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Закладки</h4></div>
        <div class="panel-body">
            <div class="pull-right">
                <button type="button" class="btn btn-success glyphicon glyphicon-plus" data-ng-disabled="values.$invalid" ng-click="addTabValue()"></button>
                <button type="button" class="btn btn-success glyphicon glyphicon-ok" data-ng-show="!(values.$invalid || tabValuesCntx.currentValue==null)" ng-click="submitEditTabValue()"></button>
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("tabValue.displayName", "Наименование закладки", true) { formName = "values", maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("tabValue.systemName", "Системный идентификатор", false) { formName = "values", maxLength = 100 })
            </div>
        </div>
    </form>


    <div>
        <table class="table table-bordered border2">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Системный идентификатор</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat-start="value in data.values">
                    <td>{{value.displayName}}</td>
                    <td>{{value.systemName}}</td>
                </tr>
                <tr data-ng-repeat-end>
                    <td colspan="2">
                        <div class="btn-group-xs">
                            <button type="button" class="btn btn-default" ng-click="beginEditTabValue($index)">Редактировать</button>
                            <button type="button" class="btn btn-default red" ng-click="removeTabValue($index)">Удалить</button>
                            <button type="button" class="btn btn-default" ng-click="moveUpTabValue($index)" ng-disabled="$index==0">Переместить выше</button>
                            <button type="button" class="btn btn-default" ng-click="moveDownTabValue($index)" ng-disabled="$index==data.values.length - 1">Переместить ниже</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-sm-10 col-sm-offset-3">
    <button type="button" data-ng-click="submit()" class="btn btn-success" data-ng-disabled="form.$invalid">Сохранить набор {{data.name}}</button>
    <a href="#search" class="btn btn-default">Отмена</a>
</div>
