﻿@*Скрипты с кодом приложения*@
@section scripts {

<script src="~/Scripts/biz/applications/meta/tabs/app.js"></script>
<script src="~/Scripts/biz/applications/meta/tabs/services.js"></script>

<script src="~/Scripts/biz/applications/meta/tabs/controllers/list-controller.js"></script>
<script src="~/Scripts/biz/applications/meta/tabs/controllers/item-controller.js"></script>

}

@{
    ViewBag.Title = "Закладки";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}


