﻿@{
    Layout = null;
}

<div class="btn-group n-menu biz-doc">
    <a class="btn btn-default" href="/api/biz/meta/enums/view">Перечисления</a>
    <a class="btn btn-default active" href="/api/biz/meta/tabs/view">Закладки</a>
    <a class="btn btn-default" href="/api/biz/meta/objects/view">Определение объектов</a>
    <a class="btn btn-default" href="/api/biz/meta/objects/instances/view">Объекты</a>
</div>

<div style="height: 50px; margin-top : 10px;">
    <div class="pull-left">
        <div class="btn-group" role="group" aria-label="...">
            <a href="#create" class="btn btn-info" data-ng-disabled="!data.CanCreate">Добавить набор закладок</a>
        </div>
    </div>
</div>

<nps-vmds-panel></nps-vmds-panel>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="nps-sortable" data-ng-class="orderByClass('Data.displayName')" data-ng-click="orderBy('Data.displayName')">Наименование</th>
            <th class="nps-sortable" data-ng-class="orderByClass('Data.systemName')" data-ng-click="orderBy('Data.systemName')">Системный идентификатор</th>
            <th class="nps-sortable" data-ng-class="orderByClass('System.createdDt')" data-ng-click="orderBy('System.createdDt')">Создан</th>
            <th class="nps-sortable" data-ng-class="orderByClass('System.updatedDt')" data-ng-click="orderBy('System.updatedDt')">Обновлён</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat-start="item in data.items">
            <td>{{item.displayName}}</td>
            <td>{{item.systemName}}</td>
            <td>{{item.createdDt}}</td>
            <td>{{item.updatedDt}}</td>
        </tr>
        <tr data-ng-repeat-end>
            <td colspan="4">
                <div class="btn-group-xs">
                    <a data-ng-if="item.CanUpdate" href="#update/{{item.id}}" class="btn btn-default" title="Редактировать">Редактировать</a>
                    <a data-ng-if="item.CanDelete" href="#delete/{{item.id}}" class="btn btn-default red" title="Удалить">Удалить</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<nps-pagination></nps-pagination>

