﻿@using NPS.DAL;
  
@model NPS.WEB.Areas.Models.MetaObjectExemplarModel 

@{
    Layout = null;
}

<form name="form" novalidate data-ng-submit="submit()" class="form-horizontal">
    <div class="form-group">
        @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("name", "Наименование", true) { maxLength = 1000 }) 
    </div>

    @{ Html.RenderPartial("Forms\\_EditPropertiesNav", Model); }

    <div class="col-sm-10 col-sm-offset-3">
        <button type="submit" class="btn btn-success" data-ng-disabled="form.$invalid">Сохранить {{data.name}}</button>
        <a href="#search" class="btn btn-default">Отмена</a>
    </div>
</form>
