﻿@{
    Layout = null;
}

<div class="btn-group n-menu biz-doc">
    <a class="btn btn-default" href="/api/biz/meta/enums/view">Перечисления</a>
    <a class="btn btn-default" href="/api/biz/meta/tabs/view">Закладки</a>
    <a class="btn btn-default" href="/api/biz/meta/objects/view">Определение объектов</a>
    <a class="btn btn-default active" href="/api/biz/meta/objects/instances/view">Объекты</a>
</div>

<div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">Параметры объектов</h4></div>
        <div class="panel-body">
            <form novalidate class="form-horizontal">
                <div class="form-group">
                    @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("filter.definitionId", "Определение объектов", false, "definitions"))
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-3 text-right">
                        <button type="button" class="btn btn-default" data-ng-disabled="!data.CanCreate || definitionId == null || definitionId == ''" data-ng-click="doCreate()">Создать {{getDefinitionName(definitionId)}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<nps-vmds-panel></nps-vmds-panel>
<table class="table table-bordered border2">
    <thead>
        <tr>
            <th class="nps-sortable" data-ng-class="orderByClass('Data.name')" data-ng-click="orderBy('Data.name')">Наименование</th>
            <th class="nps-sortable" data-ng-class="orderByClass('System.createdDt')" data-ng-click="orderBy('System.createdDt')">Создан</th>
            <th class="nps-sortable" data-ng-class="orderByClass('System.updatedDt')" data-ng-click="orderBy('System.updatedDt')">Обновлён</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat-start="item in data.items">
            <td>{{item.name}}</td>
            <td>{{item.createdDt}}</td>
            <td>{{item.updatedDt}}</td>
        </tr>
        <tr data-ng-repeat-end>
            <td colspan="3">
                <div class="btn-group-xs">
                    <a data-ng-if="item.CanUpdate" href="#update/{{item.definitionId}}/{{item.id}}" class="btn btn-default" title="Редактировать">Редактировать</a>
                    <a data-ng-if="item.CanDelete" href="#delete/{{item.definitionId}}/{{item.id}}" class="btn btn-default red" title="Удалить">Удалить</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<nps-pagination></nps-pagination>

