﻿@{
    Layout = null;
}

<nps-tabs></nps-tabs>

<div data-ng-show="selectedTabIndex==0">
    <form name="form" novalidate data-ng-submit="submit()" class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Параметры роли</h4></div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("name", "Название", true) { maxLength = 100 })
            </div>
        </div>
    </form>
</div>

<div data-ng-show="selectedTabIndex==1">
    <form name="operations" novalidate class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Список операций</h4></div>
        <div class="panel-body">
            <div class="form-group" data-ng-repeat="operation in data.operations">
                <label class="col-sm-3 control-label">{{operation.name}}</label>
                <div class="col-sm-4">
                    <input type="checkbox" data-ng-model="operation.isEnabled" class="form-control" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-sm-10 col-sm-offset-3">
    <button type="button" data-ng-click="submit()" class="btn btn-success" data-ng-disabled="form.$invalid">Сохранить роль {{data.name}}</button>
    <a href="#" data-ng-href="{{returnUrl}}" class="btn btn-default">Отмена</a>
</div>
