﻿@*Скрипты с кодом приложения*@
@section scripts {

<script src="~/Scripts/admin/roles/app.js"></script>
<script src="~/Scripts/admin/roles/services.js"></script>

<script src="~/Scripts/admin/roles/controllers/list-controller.js"></script>
<script src="~/Scripts/admin/roles/controllers/item-controller.js"></script>

}

@{
    ViewBag.Title = "Роли пользователей";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}


