﻿@{
    Layout = null;
}

<div class="btn-group n-menu biz-doc">
    <a class="btn btn-default" href="/api/admin/accounts/view">Учетные записи</a>
    <a class="btn btn-default active" href="/api/admin/roles/view">Роли</a>
    <a class="btn btn-default" href="/api/admin/operations/view">Операции</a>
    <a class="btn btn-default" href="/api/admin/settings/view">Настройки</a>
</div>   

<div style="height: 50px; margin-top : 10px;">
    <div class="pull-left">
        <div class="btn-group" role="group" aria-label="...">
            <a href="#create" class="btn btn-info" data-ng-disabled="!data.CanCreate">Добавить роль</a>
        </div>
    </div>
</div>

<nps-vmds-panel></nps-vmds-panel>
<table class="table border2 table-bordered">
    <thead>
        <tr>
            <th class="nps-sortable" data-ng-class="orderByClass('Data.name')" data-ng-click="orderBy('Data.name')">Наименование</th>
            <th class="nps-sortable" data-ng-class="orderByClass('System.createdDt')" data-ng-click="orderBy('System.createdDt')">Создан</th>
            <th class="nps-sortable" data-ng-class="orderByClass('System.updatedDt')" data-ng-click="orderBy('System.updatedDt')">Обновлён</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat-start="item in data.items">
            <td>{{item.displayName}}</td>
            <td>{{item.createdDt}}</td>
            <td>{{item.updatedDt}}</td>
        </tr>
        <tr data-ng-repeat-end>
            <td colspan="3">
                <div class="btn-group-xs">
                    <a data-ng-if="item.CanUpdate" href="#update/{{item.id}}" class="btn btn-default" title="Редактировать">Редактировать</a>
                    <a data-ng-if="item.CanDelete" href="#delete/{{item.id}}" class="btn btn-default red" title="Удалить">Удалить</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<nps-pagination></nps-pagination>

