﻿@model NPS.WEB.Areas.Models.MetaObjectInstanceModel
@{
    Layout = null;
}

<nps-tabs></nps-tabs>

<div data-ng-show="selectedTabIndex==0">
    <form name="form" novalidate data-ng-submit="submit()" class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Параметры заявки</h4></div>
        <div class="panel-body">
            @*<div class="form-group" data-ng-if="data.branchId != null">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("branchId", "Филиал", true, "branches") { readOnly = true })
            </div>
            <div class="form-group" data-ng-if="data.branchId == null">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("branchId", "Филиал", true, "branches"))
            </div>*@
            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("branchId", "Филиал", true, "branches"))
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("number", "Номер заявки", true) { maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("applicant", "Заявитель", true) { maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("cadasterNumber", "Кадастровый номер", true) { maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextArea", new NPS.WEB.Models.TextInputModel("applicantAddress", "Адрес", false) { maxLength = 500 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_RealInput", new NPS.WEB.Models.RealInputModel("powerRequested", "Запрашиваемая мощность, кВа", true))
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("voltageLevel", "Уровень напряжения", true, "data.voltageLevels") { readOnly = true })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("reliabilityCategory", "Категория надежности", true, "data.reliabilityCategories") { readOnly = true })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("locationType", "Тип местонахождения", true, "data.locationTypes") { readOnly = true })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_BooleanInput", new NPS.WEB.Models.BooleanInputModel("isPreferential", "Льготные условия подключения", false) { readOnly = true })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextArea", new NPS.WEB.Models.TextInputModel("comments", "Примечание", false) { maxLength = 2000 })
            </div>
        </div>
        <div>
            @if (Model.hasDefinition())
            {
                Html.RenderPartial("Forms\\_EditPropertiesNav", new NPS.WEB.Areas.Models.MetaObjectExemplarModel(Model.GetExemplar()) { instanceModelName = "extensionInstance" });
            }
        </div>
    </form>
</div>

<div class="panel panel-default n-editor-panel" data-ng-show="selectedTabIndex==1">
    <div class="input-group">
        <div class="input-group pull-left">
            <input class="form-control" type="text" id='cadatser-number' data-ng-model="data.cadasterNumber" style="width:250px; border: 0 !important;" placeholder="Кадастровый номер участка" />
            <input class="form-control" type="text" id='map-reference' data-ng-model="data.publicMapReference" style="width:250px; border: 0 !important;" placeholder="Ссылка на кадастровую карту" />
            <div class="btn-group">
                <button class="btn btn-default glyphicon glyphicon-search" data-ng-disabled="(!data.publicMapReference && !data.cadasterNumber) || (data.publicMapReference.length==0 && data.cadasterNumber.length==0)" data-ng-click='gotoMapReference()'></button>
                <button class="btn btn-danger glyphicon glyphicon-remove" data-ng-disabled="!data.publicMapReference || data.publicMapReference.length==0" data-ng-click='clearMapReference()'></button>
            </div>
        </div>
        <span>&nbsp;</span>
        <div class="btn-group">
            <button class="btn btn-default" data-ng-click='startStopDigitizing()'>{{digitizeModeName}}</button>
        </div>
        <span>&nbsp;</span>
        <div class="btn-group">
            <button class="btn btn-default" data-ng-if="data.locationType==0" data-ng-click='switchLocationType()'>Территория: город</button>
            <button class="btn btn-default" data-ng-if="data.locationType==1" data-ng-click='switchLocationType()'>Территория: сельская местность</button>
            <button class="btn btn-warning" data-ng-if="!data.isPreferential" disabled data-ng-click='switchPreferential()'>Подключение на общих условиях, 
                <span>в зоне {{getBufferWidth()}} метров от участка Заявителя нет объектов сети {{getItemName(data.voltageLevels, data.voltageLevel)}}!</span>
            </button>
            <button class="btn btn-success" data-ng-if="data.isPreferential" disabled data-ng-click='switchPreferential()'>Подключение возможно на льготных условиях, поскольку
                <span data-ng-if="wfsData.totalFeatures==1">в зоне {{getBufferWidth()}} метров от участка Заявителя находится {{wfsData.totalFeatures}} объект сети!</span>
                <span data-ng-if="wfsData.totalFeatures>1 && wfsData.totalFeatures<5">в зоне {{getBufferWidth()}} метров от участка Заявителя находится {{wfsData.totalFeatures}} объекта сети!</span>
                <span data-ng-if="wfsData.totalFeatures>4">в зоне {{getBufferWidth()}} метров от участка Заявителя находится {{wfsData.totalFeatures}} объектов сети!</span>
            </button>
        </div>
        <span>&nbsp;</span>
    </div>
    <div id="map" style="width:100%; height: 800px; margin-top : 2px;" class="container-over">
        <div id="gmap" class="container-over-item"></div>
        <div id="olmap" class="container-over-item"></div>
        <div class="btn-group pull-right">
            <button class="btn btn-default transparent" data-ng-if="mapData.showRosReg" data-ng-click='switchRosReg()'>Росреестр: да</button>
            <button class="btn btn-default transparent" data-ng-if="!mapData.showRosReg" data-ng-click='switchRosReg()'>Росреестр: нет</button>
            @*<button class="btn btn-default" data-ng-if="mapData.showTopo" data-ng-click='switchTopo()'>Топооснова: да</button>
            <button class="btn btn-default" data-ng-if="!mapData.showTopo" data-ng-click='switchTopo()'>Топооснова: нет</button>*@
            <button class="btn btn-default transparent" data-ng-if="!mapData.mapType || mapData.mapType==0" data-ng-click='switchMapType()'>Google: карта</button>
            <button class="btn btn-default transparent" data-ng-if="mapData.mapType==1" data-ng-click='switchMapType()'>Google: спутник</button>
            <button class="btn btn-default transparent" data-ng-if="mapData.mapType==2" data-ng-click='switchMapType()'>Google: гибрид</button>
            <button class="btn btn-default transparent" data-ng-if="mapData.mapType==3" data-ng-click='switchMapType()'>Google: рельеф</button>
        </div>
    </div>
</div>

<div class="panel panel-default n-editor-panel" data-ng-show="selectedTabIndex==2">
    <div class="panel-heading"><h4 class="panel-title">Файлы</h4></div>
    <div class="panel-body">
        @{Html.RenderPartial("Forms\\Files\\_Upload");}
    </div>
</div>


<div class="panel panel-default n-editor-panel" data-ng-show="selectedTabIndex==3">
    <div id="rosreg" style="width:100%; height: 800px;">
        <iframe id="iframe" src="@Model.settings.rosregPortalUrl" style="width:100%; height:100%"></iframe>
    </div>
    <div class="input-group">
        <div class="input-group-btn pull-left">
            <button class="btn btn-default" data-ng-show="data.publicMapReference && data.publicMapReference.length>0" data-ng-click='gotoPublicMapReference()'>Перейти на {{data.publicMapReference}}</button>
        </div>
    </div>
</div>

<div class="col-sm-10 col-sm-offset-3">
    <button type="button" data-ng-click="submitRequest()" class="btn btn-success" data-ng-disabled="digitizeMode || form.$invalid">Сохранить заявку</button>
    <a href="#search" class="btn btn-default">Отмена</a>
</div>


