﻿@*Скрипты с кодом приложения*@
@section scripts {

<link rel="stylesheet" href="http://openlayers.org/en/v3.13.1/css/ol.css" type="text/css">

<script src="http://openlayers.org/en/v3.12.1/build/ol.js"></script>
<script src="https://cdn.rawgit.com/bjornharrtell/jsts/gh-pages/lib/0.17.0/javascript.util.min.js"></script>
<script src="https://cdn.rawgit.com/bjornharrtell/jsts/gh-pages/lib/0.17.0/jsts.min.js"></script>

@*<script src="http://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>*@

<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>

<script src="~/Scripts/biz/applications/requests/app.js"></script>
<script src="~/Scripts/biz/applications/requests/services.js"></script>

<script src="~/Scripts/biz/applications/requests/controllers/list-controller.js"></script>
<script src="~/Scripts/biz/applications/requests/controllers/item-controller.js"></script>

}

@{
    ViewBag.Title = "Заявки";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}


