﻿@{
    Layout = null;
}
<div style="width:800px;">
    <h1 style="text-align : center;">Заявка на подключение №{{data.number}}</h1>
    <table class="print-view">
        <tr>
            <th>Филиал ПАО "МРСК Центра""</th>
            <td>{{getBranchName(data.branchId)}}</td>
        </tr>
        <tr>
            <th>Заявитель</th>
            <td>{{data.applicant}}</td>
        </tr>
        <tr>
            <th>Кадастровый номер</th>
            <td>{{data.cadasterNumber}}</td>
        </tr>
        <tr>
            <th>Адрес</th>
            <td>{{data.applicantAddress}}</td>
        </tr>
        <tr>
            <th>Запрашиваемая мощность</th>
            <td>{{data.powerRequested}} кВа</td>
        </tr>
        <tr>
            <th>Номинальное напряжение</th>
            <td>{{getItemName(data.voltageLevels, data.voltageLevel)}} кВ</td>
        </tr>
        <tr>
            <th>Категория надежности</th>
            <td>{{getItemName(data.reliabilityCategories, data.reliabilityCategory)}}</td>
        </tr>
        <tr>
            <th>Льготные условия</th>
            <td><span data-ng-if="data.isPreferential">Да</span><span data-ng-if="!data.isPreferential">Нет</span></td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="map" style="width:800px; height: 600px;" class="container-over">
                    <div id="gmap" class="container-over-item"></div>
                    <div id="olmap" class="container-over-item"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Дата</th>
            <td>{{nowDt.toLocaleDateString()}}</td>
        </tr>
        <tr>
            <th>Подпись Заявителя</th>
            <td></td>
        </tr>
        <tr>
            <th>Реквизиты сотрудника, принявшего Заявку</th>
            <td></td>
        </tr>
    </table>
</div>

<div class="col-sm-10 col-sm-offset-3" style="margin-top : 10px !important;">
    <button type="button" class="btn btn-success" ng-if="!_printMode" ng-click="switchPrintMode()">Перейти к печати</button>
    <a href="#search" class="btn btn-default" ng-if="!_printMode">Отмена</a>

    <button type="button" class="btn btn-success no-print" ng-if="_printMode" ng-click="printRequest()">Печать</button>
    <button type="button" class="btn btn-default no-print" ng-if="_printMode" ng-click="switchPrintMode()">Назад</button>
</div>


