﻿@{
    Layout = null;
}

@*<div class="btn-group n-menu biz-doc">
    <a class="btn btn-default active" href="/api/biz/requests/view">Заявки</a>
</div>*@   

<div style="height: 50px; margin-top : 10px;">
    <div class="pull-left">
        <div class="btn-group" role="group" aria-label="...">
            <a href="#create" class="btn btn-info" data-ng-disabled="!data.CanCreate">Добавить заявку</a>
        </div>
    </div>
    <nps-search></nps-search>
</div>

<nps-vmds-panel></nps-vmds-panel>
<table class="table border2 table-bordered table-striped">
    <thead>
        <tr>
            <th style="width:20px;"></th>
            <th>Филиал</th>
            <th class="nps-sortable" data-ng-class="orderByClass('Data.number')" data-ng-click="orderBy('Data.number')">№</th>
            <th class="nps-sortable" data-ng-class="orderByClass('Data.applicant')" data-ng-click="orderBy('Data.applicant')">Заявитель</th>
            <th class="nps-sortable" data-ng-class="orderByClass('Data.cadasterNumber')" data-ng-click="orderBy('Data.cadasterNumber')">Кадастровый номер</th>
            <th class="nps-sortable" data-ng-class="orderByClass('Data.applicantAddress')" data-ng-click="orderBy('Data.applicantAddress')">Адрес</th>
            <th class="nps-sortable" data-ng-class="orderByClass('System.createdDt')" data-ng-click="orderBy('System.createdDt')">Создан</th>
            <th class="nps-sortable" data-ng-class="orderByClass('System.updatedDt')" data-ng-click="orderBy('System.updatedDt')">Обновлён</th>
            <th style="width:50px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in data.items">
            <td>
                <span style="font-size:1.5em;" data-ng-if="item.isPreferential" class="glyphicon glyphicon-rub red"></span>
                <span style="font-size:1.5em;" data-ng-if="!item.isPreferential" class="glyphicon glyphicon-rub green"></span>
            </td>
            <td>{{getBranchName(item.branchId)}}</td>
            <td>{{item.number}}</td>
            <td>
                {{item.applicant}}
            </td>
            <td>{{item.cadasterNumber}}</td>
            <td>{{item.applicantAddress}}</td>
            <td>{{item.createdDt}}</td>
            <td>{{item.updatedDt}}</td>
            <td>
                <div class="btn-group">
                    <a data-ng-if="item.CanUpdate" href="#update/{{item.id}}" class="btn btn-default glyphicon glyphicon-edit" title="Редактировать"></a>
                    <a data-ng-if="item.CanDelete" href="#delete/{{item.id}}" class="btn btn-danger glyphicon glyphicon-remove" title="Удалить"></a>
                    <a data-ng-if="item.CanUpdate" href="#print/{{item.id}}" class="btn btn-default glyphicon glyphicon-print" title="Распечатать"></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<nps-pagination></nps-pagination>

