﻿@using NPS.WEB.Models;
@model NPS.WEB.Models.BooleanInputModel 

@if (Model.Order == BooleanInputModel.LabelCheckboxOrder.LabelFirst)
{ 
    <label for="@Model.variableName" class="col-sm-3 control-label">@Model.label @((Model.required) ? Html.Raw("<span style='color: red;'>*</span>") : Html.Raw(""))</label>
    <div class="col-sm-4">
        <input type="checkbox" data-ng-disabled="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" id="@Model.variableInputId" name="@Model.variableName" data-ng-model="@Model.variableModel" placeholder="@Model.placeholder" class="form-control" @((Model.required) ? "required" : "") />
    </div>
}
@if (Model.Order == BooleanInputModel.LabelCheckboxOrder.CheckboxFirst)
{
    <div class="col-sm-1">
        <input type="checkbox" data-ng-disabled="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" id="@Model.variableInputId" name="@Model.variableName" data-ng-model="@Model.variableModel" placeholder="@Model.placeholder" class="form-control right" @((Model.required) ? "required" : "") />
    </div>
    <label for="@Model.variableName" class="col-sm-3">@Model.label @((Model.required) ? Html.Raw("<span style='color: red;'>*</span>") : Html.Raw(""))</label>
}
@if (Model.required)
{
    <div class="col-sm-5 pull-right" data-ng-show="@(Model.formVariableName).$dirty && @(Model.formVariableName).$invalid">
        <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.required">@Model.requiredWarning</span>
    </div>
}
              
