﻿@model NPS.WEB.Models.DateTimeInputModel

<label for="@Model.variableName" class="col-sm-3 control-label">@Model.label @((Model.required) ? Html.Raw("<span style='color: red;'>*</span>") : Html.Raw(""))</label>
<div class="col-sm-4">
    <input type="datetime-local" data-ng-disabled="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" id="@Model.variableInputId"
           name="@Model.variableName" data-ng-model="@Model.variableModel" placeholder="@Model.placeholder" class="form-control"
           @((Model.required) ? "required" : "")
           @(Model.specialDateValidation ? "data-ng-blur=onChangeDate() data-ng-change=onChangeDate()" : "") ng-model-options="{ timezone: '+0300' }" />
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.early">@Model.specialDateWarning</span>
</div>

<div class="col-sm-5 pull-right" data-ng-show="@(Model.formVariableName).$invalid">
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.required">@Model.requiredWarning</span>
</div>

