﻿@using NPS.DAL;

  
@model NPS.WEB.Areas.Models.MetaObjectExemplarModel     

@{
    Layout = null;
}

@{
    foreach (var p in Model.Properties.Where(p => p.definition.isVisible))
    {
        switch (p.definition.PropertyType)
        {
            case EMetaPropertyType.ptString:
            case EMetaPropertyType.ptHyperlink:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired) { formName = Model.formName, maxLength = p.definition.maxLength })
                    </div>

                    break;
                }
            case EMetaPropertyType.ptText:
            case EMetaPropertyType.ptHTML:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_TextArea", new NPS.WEB.Models.TextInputModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired) { formName = Model.formName })
                    </div>

                    break;
                }
            case EMetaPropertyType.ptInteger:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_IntegerInput", new NPS.WEB.Models.IntegerInputModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired) { formName = Model.formName, minValue = p.definition.minIntegerValue, maxValue = p.definition.maxIntegerValue })
                    </div>

                    break;
                }
            case EMetaPropertyType.ptReal:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_RealInput", new NPS.WEB.Models.RealInputModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired) { formName = Model.formName, minValue = p.definition.minRealValue, maxValue = p.definition.maxRealValue })
                    </div>

                    break;
                }
            case EMetaPropertyType.ptBoolean:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_BooleanInput", new NPS.WEB.Models.BooleanInputModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired) { formName = Model.formName })
                    </div>

                    break;
                }
            case EMetaPropertyType.ptDateTime:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_DateTimeInput", new NPS.WEB.Models.DateTimeInputModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired) { formName = Model.formName })
                    </div>

                    break;
                }
            case EMetaPropertyType.ptDate:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_DateInput", new NPS.WEB.Models.DateInputModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired) { formName = Model.formName })
                    </div>

                    break;
                }
            case EMetaPropertyType.ptTime:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_TimeInput", new NPS.WEB.Models.TimeInputModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired) { formName = Model.formName })
                    </div>

                    break;
                }
            case EMetaPropertyType.ptEnum:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired, string.Format("metaEnumValues('{0}')", p.definition.Enum.instance_id.ToString())) { formName = Model.formName })
                    </div>

                    break;
                }
            case EMetaPropertyType.ptStructure:
                {
                    if (Model.isRestrictedMode)
                    {
                        break;
                    }
                    
                    if (p.NetstedExemplar != null)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">@p.definition.displayName</div>
                            <div class="panel-body">

                                @{
                        
                        var subModel = new NPS.WEB.Areas.Models.MetaObjectExemplarModel(p.NetstedExemplar) { instanceModelName = string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()) };            
                        Html.RenderPartial("Forms\\_EditPropertiesNav", subModel);
                        
                                }
                            </div>
                        </div>
                    }
                    break;
                }
            case EMetaPropertyType.ptArray:
                {
                    if (Model.isRestrictedMode)
                    {
                        break;
                    }
                    
                    if (p.NetstedExemplar != null)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">@p.definition.displayName</div>
                            <div class="panel-body">
                                @{
                                    //Имя модели массива
                                    var subModelName = string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName());
                                    //Имя модели элемента массива
                                    var subItemModelName = string.Format("{0}_form", subModelName);
                                    //Имя формы
                                    var subFormName = string.Format("{0}_form", subModelName.Replace(".", "_"));
                                    //Список определений свойств
                                    var subModelVisibleProperties = p.NetstedExemplar.propertyInstances.Where(sp => sp.definition.isVisible && sp.definition.PropertyType != EMetaPropertyType.ptStructure && sp.definition.PropertyType != EMetaPropertyType.ptArray);                                     
                                }

                                <ng-form name="@subFormName" novalidate class="form-horizontal">
                                    @{

                                    var subModel = new NPS.WEB.Areas.Models.MetaObjectExemplarModel(p.NetstedExemplar) 
                                    {
                                        instanceModelName = subItemModelName, //Объект для редактирования элементов массива
                                        formName = subFormName,
                                        isRestrictedMode = true 
                                    };
                                    
                                    Html.RenderPartial("Forms\\_EditPropertiesNav", subModel);

                                    }

                                    <div class="col-sm-10 col-sm-offset-3">
                                        <button type="button" class="btn btn-success" ng-disabled="@subFormName.$invalid" ng-click="addListFormItem('@subModelName')">Добавить</button>
                                        <button type="button" class="btn btn-success" ng-disabled="@subFormName.$invalid || getListFormItemsCntx('@subModelName').currentValue==null" ng-clic ng-click="submitListFormItem('@subModelName')">Изменить</button>
                                    </div>
                                </ng-form>

                                <div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                @{
                        foreach (var sp in subModelVisibleProperties)
                        {
                            <th>@sp.definition.displayName</th>
                        }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="value in data.@subModelName">
                                                @{
                        foreach (var sp in subModelVisibleProperties)
                        {
                            <td>{{@(string.Format("value.{0}", sp.definition.GetSystemName()))}}</td>
                        }
                                                }
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info" ng-click="beginEditListFormItem('@subModelName', $index)"><span class="glyphicon glyphicon-edit" /></button>
                                                        <button type="button" class="btn btn-danger" ng-click="removeListFormItem('@subModelName', $index)"><span class="glyphicon glyphicon-remove" /></button>
                                                        <button type="button" class="btn btn-default" ng-click="moveUpListFormItem('@subModelName', $index)" ng-disabled="$index==0"><span class="glyphicon glyphicon-arrow-up" /></button>
                                                        <button type="button" class="btn btn-default" ng-click="moveDownListFormItem('@subModelName', $index)" ng-disabled="$index==getListFormItems('@subModelName').length - 1"><span class="glyphicon glyphicon-arrow-down" /></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    }
                    break;
                }
            case EMetaPropertyType.ptReference:
                {
                    <div class="form-group">
                        @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel(string.Format("{0}.{1}", Model.instanceModelName, p.definition.GetSystemName()), p.definition.displayName, p.definition.isRequired, string.Format("metaObjectInstances('{0}')", p.definition.NestedObject.instance_id.ToString(), Model.instanceModelName)) { formName = Model.formName })
                    </div>

                    break;
                }
        }
    }
}
