﻿@using NPS.DAL;

  
@model NPS.WEB.Areas.Models.MetaObjectExemplarModel
   

@{
    Layout = null;
}

@{
    //Свойства без разделов
    Html.RenderPartial("Forms\\_EditProperties", new NPS.WEB.Areas.Models.MetaObjectExemplarModel(Model, Model.Properties.Where(p => p.definition.tabId == null)));

    var tabs = Model.Properties.Where(p => p.definition.tabId != null).Select(p => p.definition.Tab).Distinct().ToList();
    foreach (var tab in tabs)
    {
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">@tab.displayName</h4></div>
            <div class="panel-body">
                @{
                    var ptab = Model.Properties.Where(p => p.definition.tabId == tab.instance_id);

                    //Свойства раздела без подразделов
                    Html.RenderPartial("Forms\\_EditProperties", new NPS.WEB.Areas.Models.MetaObjectExemplarModel(Model, ptab.Where(p => p.definition.tabSectionId == null)));

                    var tabSections = ptab.Where(p => p.definition.tabSectionId != null).Select(p => p.definition.TabSection).Distinct().ToList();
                    foreach (var tabSection in tabSections)
                    {
                        <h5>@tabSection.displayName</h5>
                        var ptabSection = Model.Properties.Where(p => p.definition.tabSectionId == tabSection.instance_section_id);

                        //Свойства подраздела
                        Html.RenderPartial("Forms\\_EditProperties", new NPS.WEB.Areas.Models.MetaObjectExemplarModel(Model, ptabSection));
                    }
                }
            </div>
        </div>
    }
}
