﻿@model NPS.WEB.Models.IntegerInputModel 

<label for="@Model.variableName" class="col-sm-3 control-label">@Model.label @((Model.required) ? Html.Raw("<span style='color: red;'>*</span>") : Html.Raw(""))</label>
<div class="col-sm-4">
    <input type="number" data-ng-disabled="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" data-ng-pattern="/^-?\d+$/" id="@Model.variableInputId" name="@Model.variableName" data-ng-model="@Model.variableModel" placeholder="@Model.placeholder" class="form-control" @((Model.required) ? "required" : "") @((Model.minValue != null) ? string.Format("min={0}", Model.minValue) : "") @((Model.maxValue != null) ? string.Format("max={0}", Model.maxValue) : "") />
</div>

<div class="col-sm-5 pull-right" data-ng-show="@(Model.formVariableName).$invalid">
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.number">Значение должно быть целым числом!</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.pattern">Значение должно быть целым числом!</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.required">@Model.requiredWarning</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.min">@Model.minWarning</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.max">@Model.maxWarning</span>
</div>
              
