﻿@model NPS.WEB.Models.TextInputModel


<div class="col-sm-offset-4 col-sm-2">
    <input type="password" id="@Model.variableInputId"
           name="@Model.variableName" data-ng-model="@Model.variableModel" placeholder="Пароль" class="form-control" @((Model.required) ? "required" : "") />

</div>

