﻿@model NPS.WEB.Models.TextInputModel

@{
    var buildExpression = Model.variableModel + " = buildPhoneNumber(" + Model.variableModel + "_country, " + Model.variableModel + "_city, " + Model.variableModel + "_main, " + Model.variableModel + "_extension); " + Model.variableModel + "_result = " + Model.variableModel;
}

<label for="@Model.variableName" class="col-sm-3 control-label">@Model.label <span class =" control-label">{{@(Model.variableModel)}}</span> @((Model.required) ? Html.Raw("<span style='color: red;'>*</span>") : Html.Raw(""))</label>

<div class="col-sm-4">
    <div class="npa-phone-input" data-ng-if="@(Model.variableModel)">
        <span class=" control-label">+&nbsp;</span>
        <input type="text" disabled="disabled" data-ng-readonly="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" data-ng-init="@(Model.variableModel)_country = getPhoneCountryCode(@(Model.variableModel))" data-ng-change="@buildExpression" id="@(Model.variableInputId)_country" data-ng-model="@(Model.variableModel)_country" name="@(Model.variableName)_country" ng-pattern="/^[0-9]{1,4}$/" placeholder="0" style="width:35px;" class="form-control" />
        <span class=" control-label">&nbsp;(</span>
        <input type="text" data-ng-readonly="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" data-ng-init="@(Model.variableModel)_city = getPhoneCityCode(@(Model.variableModel))" data-ng-change="@buildExpression" id="@(Model.variableInputId)_city" data-ng-model="@(Model.variableModel)_city" name="@(Model.variableName)_city" ng-pattern="/^[0-9]{3,4}$/" placeholder="0000" style="width:60px;" class="form-control" />
        <span class=" control-label">)&nbsp;</span>
        <input type="text" @((Model.required) ? "required" : "") data-ng-readonly="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" data-ng-init="@(Model.variableModel)_main = getPhoneMainCode(@(Model.variableModel))" data-ng-change="@buildExpression" id="@(Model.variableInputId)_main" data-ng-model="@(Model.variableModel)_main" name="@(Model.variableName)_main" ng-pattern="/^[0-9]{6,7}$/" placeholder="0000000" style="width:85px;" class="form-control" />
        <span class=" control-label">&nbsp;доб.&nbsp;</span>
        <input type="text" data-ng-readonly="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" data-ng-init="@(Model.variableModel)_extension = getPhoneExtensionCode(@(Model.variableModel))" data-ng-change="@buildExpression" id="@(Model.variableInputId)_extension" data-ng-model="@(Model.variableModel)_extension" name="@(Model.variableName)_extension" ng-pattern="/^[0-9]{0,5}$/" placeholder="0000" style="width:70px;" class="form-control" />
        <input type="hidden" readonly="readonly" id="@(Model.variableInputId)_result" data-ng-model="@(Model.variableModel)_result" name="@(Model.variableName)_result" ng-pattern="/^\+7\s((\([0-9]{3}\)\s[0-9]{7})|(\([0-9]{4}\)\s[0-9]{6}))(,\sдоб.:\s[0-9]{1,5})?$/" class="form-control" />
    </div>
</div>

<div class="col-sm-5 pull-right">
    <span class="label label-warning" data-ng-show="@(Model.formVariableName)_country.$error.pattern">Код страны должен состоять не более чем из 4-х цифр!</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName)_city.$error.pattern">Код города должен состоять из 3-х или 4-х цифр!</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName)_main.$error.pattern">Основной номер должен состоять из 6-ти или 7-и цифр!</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName)_extension.$error.pattern">Добавочный номер должен состоять не более чем из 5-ти цифр!</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName)_result.$error.pattern">Код города и основной номер вместе должны составлять 10 цифр!</span>
    <span class="label label-warning" data-ng-show ="@(Model.formVariableName)_main.$error.required">@Model.requiredWarning</span>    
</div>
