﻿@model NPS.WEB.Models.RealInputModel 

<label for="@Model.variableName" class="col-sm-3 control-label">@Model.label @((Model.required) ? Html.Raw("<span style='color: red;'>*</span>") : Html.Raw(""))</label>
<div class="col-sm-4">
    <input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" onkeyup="replaceDotWithComma(this)" step="1" data-ng-disabled="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" id="@Model.variableInputId" name="@Model.variableName" data-ng-model="@Model.variableModel" placeholder="@Model.placeholder" class="form-control" @((Model.required) ? "required" : "") @((Model.minValue != null) ? string.Format("min={0}", Model.minValue) : "") @((Model.maxValue != null) ? string.Format("max={0}", Model.maxValue) : "") />
    <span data-ng-show="@(Model.formVariableName).$dirty">Для разделения целой и дробной части используйте запятую. После запятой может быть не более 5-ти символов</span>
</div>

<div class="col-sm-5 pull-right" data-ng-show="@(Model.formVariableName).$invalid">
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.number">Значение должно быть числом!</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.required">@Model.requiredWarning</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.min">@Model.minWarning</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.max">@Model.maxWarning</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.pattern">Допускается не более 5-ти символов после запятой!</span>
</div>

              
