﻿@model NPS.WEB.Models.SelectModel 

<label for="@Model.variableName" class="col-sm-3 control-label">@Model.label @((Model.required) ? Html.Raw("<span style='color: red;'>*</span>") : Html.Raw(""))</label>
<div class="col-sm-4">
    <select ng-options="value.id as value.name for value in @(Model.selectValuesModel)" @Html.Raw(string.IsNullOrWhiteSpace(Model.changeExpression) ? "" : string.Format("data-ng-change=\"{0}\"", Model.changeExpression)) id="@Model.variableInputId" data-ng-disabled="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" name="@Model.variableName" data-ng-model="@Model.variableModel" class="form-control" @((Model.required) ? "required" : "")></select>
</div>

@if (Model.required)
{
    <div class="col-sm-5 pull-right" data-ng-show="@(Model.formVariableName).$invalid">
        <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.required">@Model.requiredWarning</span>
    </div>
}
              
