﻿@model NPS.WEB.Models.TextInputModel

<label for="@Model.variableName" class="col-sm-3 control-label">@Model.label @((Model.required) ? Html.Raw("<span style='color: red;'>*</span>") : Html.Raw(""))</label>
<div class="col-sm-4">
    <input type="text" data-ng-readonly="@((Model.readOnly) ? "true" : "false") || @Model.ReadonlyScopeName" id="@Model.variableInputId"
           name="@Model.variableName" data-ng-model="@Model.variableModel" placeholder="@Model.placeholder" class="form-control"
           @(string.IsNullOrWhiteSpace(Model.mask) ? "" : string.Format("data-ng-pattern=\"{0}\"", Model.mask))
           @((Model.required) ? "required" : "")
           @((Model.minLength != null) ? string.Format("data-ng-minlength=\"{0}\" size={0}", Model.minLength) : "")
           @((Model.maxLength != null) ? string.Format("data-ng-maxlength=\"{0}\" maxlength={0}", Model.maxLength) : "")
           @(!String.IsNullOrWhiteSpace(Model.matchField) ? String.Format("coincidence-validation={0}", Model.matchField) : "") />
    @if (!Model.readOnly)
    {
        <span class="small">{{"заполнено " + getFormInputValue('@Model.variableInputId').length}}</span>
        if (Model.maxLength.HasValue)
        {
            <span class="small" data-ng-show="@(Model.maxLength)">{{" из " + @(Model.maxLength)}}</span>
        }
    }
</div>

<div class="col-sm-5 pull-right" data-ng-show="@(Model.formVariableName).$invalid">
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.required">@Model.requiredWarning</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.minlength">@Model.minLengthWarning</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.maxlength">@Model.maxLengthWarning</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.pattern">@Model.maskWarning</span>
    <span class="label label-warning" data-ng-show="@(Model.formVariableName).$error.coincidence">@Model.matchWarning</span>
</div>

