﻿@{
    Layout = null;
}

<div>
    <form name="form" novalidate data-ng-submit="submit()" class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Параметры операции</h4></div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("code", "Код", true) { maxLength = 20 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("name", "Название", true) { maxLength = 100 })
            </div>
        </div>
    </form>
</div>

<div class="col-sm-10 col-sm-offset-3">
    <button type="button" data-ng-click="submit()" class="btn btn-success" data-ng-disabled="form.$invalid">Сохранить операцию {{data.name}}</button>
    <a href="#" data-ng-href="{{returnUrl}}" class="btn btn-default">Отмена</a>
</div>
