﻿@*Скрипты с кодом приложения*@
@section scripts {

<script src="~/Scripts/admin/operations/app.js"></script>
<script src="~/Scripts/admin/operations/services.js"></script>

<script src="~/Scripts/admin/operations/controllers/list-controller.js"></script>
<script src="~/Scripts/admin/operations/controllers/item-controller.js"></script>

}

@{
    ViewBag.Title = "Операции пользователей";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}


