﻿@{
    Layout = null;
}

<nps-tabs></nps-tabs>

<div data-ng-show="selectedTabIndex==0">
    <form name="form" novalidate data-ng-submit="submit()" class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Параметры учетной записи</h4></div>
        <div class="panel-body" data-ng-if="!lightMode">
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("login", "Логин", true) { maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("name", "Пользователь", true) { maxLength = 500 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("branchId", "Филиал", true, "branches"))
            </div>
        </div>
        <div class="panel-body" data-ng-if="lightMode">
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("login", "Логин", true) { maxLength = 100, readOnly = true })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("name", "Пользователь", true) { maxLength = 500 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("branchId", "Филиал", true, "branches") { readOnly = true })
            </div>
        </div>
        <div class="panel-heading"><h4 class="panel-title">Дополнительно</h4></div>
        <div class="panel-body" data-ng-if="!lightMode">
            <div class="form-group">
                @Html.Partial("Forms\\_BooleanInput", new NPS.WEB.Models.BooleanInputModel("isBlocked", "Учетная запись заблокирована", false))
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_DateInput", new NPS.WEB.Models.DateInputModel("accountIsValidTill", "Учетная запись действительна до", false))
                <button type="button" data-ng-if="data.accountIsValidTill!=null" class="btn btn-danger" data-ng-click="data.accountIsValidTill=null">Сбросить</button>
            </div>
        </div>
    </form>
</div>

<div data-ng-show="selectedTabIndex==1">
    <form name="roles" novalidate class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Список ролей</h4></div>
        <div class="panel-body">
            <div class="form-group" data-ng-repeat="role in data.roles">
                <label class="col-sm-3 control-label">{{role.name}}</label>
                <div class="col-sm-4">
                    <input type="checkbox" data-ng-model="role.isEnabled" class="form-control" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-sm-10 col-sm-offset-3">
    <button type="button" data-ng-click="submit()" class="btn btn-success" data-ng-disabled="form.$invalid">Сохранить учетную запись {{data.login}}</button>
    <a href="#" data-ng-href="{{returnUrl}}" class="btn btn-default">Отмена</a>
</div>
