﻿@*Скрипты с кодом приложения*@
@section scripts {

<script src="~/Scripts/admin/accounts/app.js"></script>
<script src="~/Scripts/admin/accounts/services.js"></script>

<script src="~/Scripts/admin/accounts/controllers/list-controller.js"></script>
<script src="~/Scripts/admin/accounts/controllers/item-controller.js"></script>
<script src="~/Scripts/admin/accounts/controllers/password-controller.js"></script>

}

@{
    ViewBag.Title = "Учетные записи пользователей";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}


