﻿@{
    Layout = null;
}

<div>
    <form name="form" novalidate data-ng-submit="submit()" class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Введите новый пароль</h4></div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Partial("Forms\\_PasswordInput", new NPS.WEB.Models.TextInputModel("password", "Пароль", true) { maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_PasswordInput", new NPS.WEB.Models.TextInputModel("passwordConfirmation", "Пароль еще раз", true) { maxLength = 100 })
            </div>
        </div>
    </form>
</div>

<div class="col-sm-10 col-sm-offset-3">
    <button type="button" data-ng-click="submit()" class="btn btn-success" data-ng-disabled="form.$invalid || (data.password != data.passwordConfirmation)">Изменить пароль учетной записи {{login}}</button>
    <a href="#" data-ng-href="{{returnUrl}}" class="btn btn-default">Отмена</a>
</div>
