﻿@{
    var fieldPrefix = "Files";
    var fieldNameFileUpload = string.Format("{0}_{1}", fieldPrefix, "FileUpload");
    var fieldNameFileUploadBtn = string.Format("{0}_{1}", fieldPrefix, "FileUploadBtn");
    var fieldNameProgress = string.Format("{0}_{1}", fieldPrefix, "Progress");
    var fieldNameFileUploadCancelBtn = string.Format("{0}_{1}", fieldPrefix, "FileUploadCancelBtn");

    var fileSizeMB = 10;
    var fileSize = Math.Pow(1024, 2) * fileSizeMB;
    
    var entityName = string.Format("файл до {0} МБ", fileSizeMB);
}

<script type="text/javascript">
    $(function () {
        $('#@fieldNameFileUpload').fileupload({
            autoUpload: true,
            dataType: "json",
            url: "@Url.Action("Upload", "Files", new { area = "" })",
            limitConcurrentUploads: 1,
            sequentialUploads: false,
            progressInterval: 1000,
            maxChunkSize: 1000000,
            maxFileSize: @fileSize,
            minFileSize:1,

            add: function (e, data) {
                $.ajaxSetup({
                    cache: false,
                    beforeSend: null,
                    complete: null,
                    error: function () { asyncHideSpinner(); }
                });

                setProgress(0);
                showProgress(true);

                $("#@fieldNameFileUploadCancelBtn").toggle();
                $("#@fieldNameFileUploadBtn").attr("disabled", "disabled");

                jqXHR = data.submit();
            },
            done: function (e, data) {
                $.ajaxSetup({
                    cache: false,
                    beforeSend: asyncShowSpinner,
                    complete: asyncHideSpinner,
                    error: function () { asyncHideSpinner(); }
                });

                if (data.result.isUploaded == true)
                {
                    $AddFile(data.result);
                }
                else
                {
                    alert(data.result.message);
                }

                showProgress(false);

                $("#@fieldNameFileUploadCancelBtn").toggle();
                $("#@fieldNameFileUploadBtn").removeAttr("disabled");
            },
            fail: function (e, data) {
                $.ajaxSetup({
                    cache: false,
                    beforeSend: asyncShowSpinner,
                    complete: asyncHideSpinner,
                    error: function () { asyncHideSpinner(); }
                });

                showProgress(false);

                $("#@fieldNameFileUploadCancelBtn").toggle();
                $("#@fieldNameFileUploadBtn").attr("disabled", "disabled");

                if (data.files[0].error) {
                    alert(data.files[0].error);
                }
            },
            progress: function (e, data) {
                setProgress(parseInt(data.loaded / data.total * 100, 10));
            }
        });

        $("@fieldNameFileUploadCancelBtn").click(function (param) {
            jqXHR.abort();
        });

    });

    function uploadFile() {
        $("#@fieldNameFileUpload").click();
    };

    function setProgress(progress) {
        var progressBar = $("#@fieldNameProgress");

        progressBar.css('width', progress + '%');
        progressBar.html(progress + '%');
    }

    function showProgress(show) {
        if (show) {
            $("#@fieldNameProgress").parent().show();

        } else {
            $("#@fieldNameProgress").parent().hide();

        }
    }
</script>

<div>
    <div>
        <input id="@fieldNameFileUpload" type="file" style="display: none" multiple="multiple" />
        <button data-ng-if="!readonly" id="@fieldNameFileUploadBtn" type="button" class="btn btn-success" title="Добавить @entityName" onclick="uploadFile();">Добавить @entityName</button>
        <hr/>
    </div>

    <div class="progress" style="display:none; margin:0px; margin-top: 5px;">
        <div id="@fieldNameProgress" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Файл</th>
                    <th>Размер</th>
                    <th>Описание</th>
                    <th width="50px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in data.Files.ExistingFiles">
                    <td><a href="#" data-ng-href="/Files/Download/{{file.id}}">{{file.fileName}}</a></td>
                    <td>{{file.fileSize}} KB</td>
                    <td><textarea data-ng-model="file.attachmentName" style="width:100%"></textarea></td>
                    <td>
                        <button data-ng-if="!readonly" type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="DeleteFile($index)"></button>
                    </td>
                </tr>
                <tr ng-repeat="file in data.Files.AddedFiles">
                    <td>{{file.fileName}}</td>
                    <td>{{file.fileSize}} KB</td>
                    <td><textarea data-ng-model="file.attachmentName" style="width:100%"></textarea></td>
                    <td>
                        <button data-ng-if="!readonly" type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="RemoveFile($index)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
