﻿html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: "Roboto" !important;
}

.biz-font {
    font-family: "Roboto" !important;
}

.main-header {
    background-image: url('/logo.jpg');
    background-position: left;
    background-repeat: no-repeat;
    height: 86px;
    margin : 5px;
    margin-bottom : 15px;
    border-bottom : 1px dotted #eee;
}

.container-over {
    position: relative;
}

.container-over-item {
    width:100%; 
    height: 100%; 
    position : absolute; 
    left: 0; 
    top: 0;

}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

label {
    font-weight : normal !important;
}

.label {
    font-weight : normal !important;
}

.table {
    margin : 0px !important;
    margin-bottom : 10px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.stylish-input-group{
    margin-bottom : 5px !important; 
}

.stylish-input-group .input-group-addon{
    background: white !important;
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.transparent {
     background: rgba(255, 255, 255, 0.8) !important;
}

th.summary {
    width: 400px;
    background-color : white !important;
}

th.nps-sortable:hover {
    cursor : pointer; 
}

th.nps-sortable.nps-asc {
    background-image: url('images/sort-asc-24.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 28px;
}

th.nps-sortable.nps-desc {
    background-image: url('images/sort-desc-24.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 28px;
}

div.nps-filter {
}

label.required {
    color : red !important;
}

.nps-vmds {
    margin : 5px;
    margin-left : 15px;
    margin-right : 15px;
    padding : 0px;
}

.nps-vmds input[type='datetime-local'] {
    height : 18px;
    width : 140px;
    border : 1px solid #eee;
    border-radius : 5px;
    font-size : 11px;
}

.nps-vmds button {
    /*font-size : 10px;*/
}

td .btn-group {
    display: flex;
}

.nps-phone-input 
{
}

.nps-phone-input span,
.nps-phone-input input
{
    float: left; 
}

.npsSearch #cbSearchColumn {
    width: 200px;
}

.npsSearch .npsSearchColumnValue{
    width: 100%; 
    padding: 0px;
}

.npsSearch .npsSearchColumnValue > div{
   text-align:left;  
}

.npsSearch .input-group-btn button{
  padding: 6px; 
}

table.print-view th {
    background-color : white !important;
    text-align: right;
    width: 300px;
    padding : 5px;
}

table.print-view td {
    background-color : white;
    text-align: left;
    padding-left : 10px;
    font-style : italic;
    padding : 5px;
    border-bottom : 1px solid #eee; 
}