﻿.statistic .card {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.statistic .card .heading {
    border-bottom: 1px dotted black;
    padding: 5px 0;
    color: #4682B4;
    text-transform: uppercase;
}

.statistic .card .floor {
    border-top: 1px dotted black;
}

.statistic .card {
    margin-bottom: 30px;
    position: relative;
}

.statistic table {
    width: 100%;
}

.legend table {
    width: auto;
}
