﻿
/***
n-styles
author Anton.Samoshin
version 0.1

TABLE OF CONTENTS

n-panel - верхняя панель элементов
n-sidebar - боковое меню, он же сайдбар
n-row - дополнительные строки для стилизации 
***/

/* Шрифты */
@font-face {
    font-family: Roboto Bold;
    src: url('/Content/fonts/RobotoBold.eot');
    src: url('/Content/fonts/RobotoBold.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/RobotoBold.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    src: url('/Content/fonts/RobotoRegular.eot');
    src: url('/Content/fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/RobotoRegular.ttf') format('truetype');
}

/* Верхняя панель элементов*/
.n-panel {
    font-size: 12px;
    border-bottom: 1px solid #254996;
}

.n-panel li {
    float: none;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0 10px;
}

.n-panel-element {
    text-align: center;
    font-size: 25px;
}

.n-panel li.n-panel-logout {
    padding: 0;
    background-color: #CFDDE6;
}

.n-panel-text {
    padding: 5px;
}

.n-panel-section-highlighted {
    background-color: #254996;
    color: white;
}

.n-panel-section-border-right {
    border-right: 1px solid #254996;
}

.n-panel-section-border-left {
    border-left: 1px solid #254996;
}

/* Дополнительные строки для стилизации */
.n-row-separator {
    height: 10px;
    background-color: #0381bd;
}
.n-text-bold,
table th {
    font-family: "Roboto Bold";
}
/* Сайдбар */
.n-sidebar {
    background-color: #E6E6E6;
    margin-bottom: 0px;
    position: fixed;
    padding: 0 15px 0 15px;
    z-index: 1030;
    width: 235px;
    bottom: 70px;
    top: 50px;
    overflow-y: auto;
}

.vertical-align {
    display: flex;
    align-items: center;
    width: 1px;
    position: fixed;
    top: 50px;
    bottom: 0;
    z-index: 1029;
}

.vertical-align.when-hidden-menu {
    margin-left: -295px;
}

.n-sidebar-header {
    font-size: 12pt;
    color: #65748d;
    background-color: #F5F5F5;
    padding: 15px 0 15px 10px;
}

.n-sidebar-header-logo {
    color: #254996;
    margin-right: 10px;
}

.n-sidebar-header-link {    
    color: black;
}

.n-sidebar-section {
    background-color: #E6E6E6;
    border: none;
    margin-top: 0 !important;
    cursor: pointer;
}

.n-sidebar-section:not(.collapsed) .panel-title {
    border-left: 3px solid #254996;
    background-color: #F5F5F5;
}

.n-sidebar-section:not(.collapsed) .panel-title span:first-of-type {
    color: #254996;
}

.n-sidebar-section:not(.collapsed) .panel-title span:last-of-type {
    color: #254996;
}

.n-sidebar-section .panel-title {
    font-size: 10pt;
    padding: 5px;
    text-transform: uppercase;
    border-left: 3px solid #E6E6E6;
}

.panel-title span {
    padding-left: 5px;
    font-size: 12px;
}

.n-sidebar-section .panel-title span:first-of-type {
    font-size: 15pt;
}

.n-sidebar-section ul {
    margin-bottom: 0;
}

.n-sidebar-section-indicator {
    position: relative;
    top: 0;
    left: 0;
}

.n-sidebar-section .n-sidebar-section-links {
    background-color: #EFEFEF;
    border-left: 3px solid #02578a;
}

.n-sidebar-section .n-sidebar-section-links li {
    padding: 10px 0 10px 0px;
    margin-left: 30px;
}

.n-sidebar-section .n-sidebar-section-links a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.n-sidebar-section .n-sidebar-section-links a:hover {
    color: #254996;
}

.panel-title span:not(.glyphicon) {
    vertical-align: super;
    padding: 10px;
}

.n-sidebar-section-links ul {
    padding-left: 0;
}

/* Футер*/
.n-footer {
    background-color: #F5F5F5;
    border-top: none;
    width: 235px;
}
.n-footer-notification {
    height: 30px;
}
/*Меню*/
.n-menu .btn {
    font-size: 14px;
    border-radius: 0 !important;
}

.n-menu .btn.active {
    outline: none;
}

.n-menu .btn:focus {
    outline: none;
}

/*Контент*/
.n-content-body {
    margin-bottom: 50px;
}

.n-content-header h2 {
    font-size: 16px;
}

.n-content-header {
    padding-left: 15px;
}

/*Оформление чекбоксов в контенте*/
.n-content input[type=checkbox]{
    width: 15px;
    height: 15px;
}

.n-content h3 {
    font-size: 20px;
}

.n-content table th {
    background-color: #CFDDE6;
    color: #4E5960;
}

n-content table tr td {
    border-right: 1px solid black;
}

.n-content-wrapper {
}


/*Элементы редактора объектов*/
.n-editor-panel {
    border-radius: 0px !important;
}

.n-editor-panel .panel-heading {
    color: #4e5960;
    background-color: #cfdde6;
    border-radius: 0px !important;
}

.n-editor-panel .panel-body label {
    font-size: 14px;
}

.n-footer,
.n-header {
    cursor: default;
}

.n-header {
    z-index: 1031;
}

.show-hide-menu {
    cursor: pointer;
    background-color: #CFDDE6;
    margin-left: 247px;
    font-size: 8px;
    height: 100%;
}

.show-hide-menu.when-hidden-menu {
    margin-left: 293px;
}

.show-hide-menu span {
    width: 8px;
    padding: 2000% 0;
    color: white;
}

span.positions-count {
    text-align: center;
    display: block;
    margin-right: 5px;
    float: right;
    line-height:32px;
    width: 50%;
}

.enable-overflow {
    overflow-y: auto;
    height: 50px;
}

.n-header {
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}

.main-navbar ul li a {
    font-size: 20px;
}

div.login {
    width: 430px;
    margin: auto;
}

input.login {
    margin-left: 110px;
}

.remember-me label {
    vertical-align: middle;
}

.login .main-login {
    padding: 30px;
    border: 2px solid #337ab7;
}

.main-login input {
    display: inline-block;
}

.wait {
    filter: alpha(opacity=50);
    opacity: .5;
}

.main-content {
    margin-left: 235px;
    margin-top: 10px;
    padding-left: 15px;
}

.main-content.when-hidden-menu {
    margin-left: 0;
}

.middle-footer {
    line-height: 30px;
    padding-left: 5px;
}

.middle-footer-badge {
    line-height: 30px;
    margin-right: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.main-data .table.border2 > tbody > tr:nth-child(4n+1) > td, 
.main-data .table.border2 > tbody > tr:nth-child(4n+1) > th,
.main-data .table.border2 > tbody > tr:nth-child(4n+2) > td, 
.main-data .table.border2 > tbody > tr:nth-child(4n+2) > th 
{
    background-color: #E6E6E6;
}

.main-data .table.border2 > tbody > tr:nth-child(4n+2) > td, 
.main-data .table.border2 > tbody > tr:nth-child(4n+2) > th,
.main-data .table.border2 > tbody > tr:nth-child(4n+4) > td, 
.main-data .table.border2 > tbody > tr:nth-child(4n+4) > th  {
    border-top: none !important;
}
/*цвета таблиц для закрытой части*/
.main-content .table.border2 {
    border: 3px solid #CFDDE6;
}

.main-content .table.border2 > tbody > tr:nth-child(odd) {
    border-top: 3px solid #CFDDE6;
    border-left: 3px solid #CFDDE6;
    border-right: 3px solid #CFDDE6;
}

.main-content .table.border2 > tbody > tr:nth-child(even) {
    border-bottom: 3px solid #CFDDE6;
    border-left: 3px solid #CFDDE6;
    border-right: 3px solid #CFDDE6;
}

table.organizations > tbody > tr:nth-child(odd) {
    border-top: 3px solid #ddd;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
}

table.organizations > tbody > tr:nth-child(even) {
    border-bottom: 3px solid #ddd;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
}

.main-data .table.border2 > tbody > tr:nth-child(even) > tr, 
.main-data .table.border2 > tbody > tr:nth-child(even) > td {
    border: none;
}

.nowrap {
    white-space: nowrap;
}

.biz-doc {
    margin-bottom: 10px;
}

.footer div {
    margin-left: 20px;
}

.middle {
    vertical-align: middle !important;
}

.dropdown-menu {
    margin-bottom: 65px;
}

.footer { /*нижняя часть (footer) окрытой части*/
    width: 100%;
    margin: auto;
    clear: both;
    border: none;
    border-top: 1px solid #ddd;
}

.login input[type='button']:hover,
.login input[type='submit']:hover {
    border: 1px solid #4389C7;
    background-color: #fff;
    color: #4389C7 !important;
    cursor: pointer;
    text-decoration: none;
}

.login input[type='button'],
.login input[type='submit'] {
    padding: 5px 7px;
    margin-top: 5px;
    border: 1px solid #4389C7;
    background-color: #4389C7;
    color: #fff !important;
    font-size: 12px !important;
}

table.public-main-table {
    margin: auto;
}

table.public-main-table td.text-right {
    text-align: right;
}

.notice-type {
    border: none;
    display: block;
    text-align: left;
    border-radius: 0;
}

.toolbar {
    height: 50px;
}

.n-header.navbar li > a {
    color: #777;
}

.n-header.navbar li > a:focus,
.n-header.navbar li > a:hover {
    color: #333;
    background-color: transparent;
}

.main .control-label {
    padding-top: 0;
}

.main h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.header .n-menu a,
.current-sidebar .n-menu a {
    line-height: inherit;
}

.header .n-menu {
    margin-top: 10px;
}

.exit {
    background: url('images/exit2.png') top left no-repeat;
    width: 50px;
    height: 50px;
}

.protocols fieldset {
    padding: .35em .625em .75em;
    border: 2px solid #CFDDE6;
}

.main-center .protocols fieldset {
    border: 2px solid #AEEF98;
}

.protocols legend {
    width: inherit;
    border: none;
    padding: 0 5px;
}

div.protocols {
    margin-bottom: 30px;
}

.n-header .navbar-default li,
.header-logo img {
    height: 50px;
}

.show-operationRoles,
.hide-operationRoles,
.show-roleOperations,
.hide-roleOperations,
.show-roles,
.hide-roles,
.classificator-expand {
    cursor: pointer;
    color: #337ab7;
}

.no-text-decoration:hover,
.n-sidebar-header-link:hover {
    text-decoration: none;
}

ul.breadcrumb + div {
    margin-bottom: 10px;
}

.n-footer-notification {
    bottom: 0;
    margin-bottom: 0;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

.n-footer-logo {
    background-color: #E6E6E6;
    padding: 5px 0 3px 15px;
}

.n-menu button.error {
    border: 1px solid #f0ad4e;
    box-shadow: inset 0 3px 5px rgba(240,173,78,.25);
}

.table tr.grey td {
    background-color: #ddd;
    color: #777;
}

.table tr.green td {
    background-color: lightgreen;
    color: #333;
}

.table tr.red td {
    background-color: red;
    color: black;
}

.table tr.yellow td {
    background-color: yellow;
    color: black;
}

.addedRolesList {
    margin-bottom: 40px;
}

#tabs .tab-content table {
    width: 30%;
}

.clasificator-selector {
    cursor: pointer;
}

.clasificator-selector:hover {
    background-color: #4389C7;
    color: #fff;
    cursor: pointer;
}

.classificator-hierarchy .stylish-input-group {
    margin-bottom: 15px !important;
}

.btn-nice {
    height: auto;
    white-space: normal;
}

/*Загрузка...*/
#loading,
p.loading {
    display: block;
    text-align: right;
    background-color: white;

    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: -3px 3px 5px #777;

    color: #777;
    width: 120px;

    padding: 10px;
    margin: 0 auto;

    overflow: visible;
    position: fixed;

    left: 50%;
    top: 50%;
    z-index: 1000;

    background-image: url('images/loading.gif');
    background-position: left;
    background-repeat: no-repeat;
}

.next-button{
    padding-bottom: 10px;
    margin-top: -10px;
}

textarea.override-width {
    width: auto;
}

.label-as-warning {
    text-align: left;
    white-space: inherit;
    background-color: #f0ad4e;
}