﻿@*Скрипты с кодом приложения*@
@section scripts {

    <script src="~/Scripts/admin/account/app.js"></script>
    <script src="~/Scripts/admin/account/services.js"></script>

    <script src="~/Scripts/admin/account/controllers/login-controller.js"></script>

}

@{
    ViewBag.Title = "Вход в систему";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}
