﻿@{
    Layout = null;
}

<div>
    <form name="form" novalidate class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Вход в систему</h4></div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2">
                    <p data-ng-if="data.passwordIsOptional">
                        <span class="label label-warning">Для входа в Систему под учетной записью Windows вводить пароль не требуется!</span>
                    </p>
                </div>
            </div>
           <div class="form-group">
                @Html.Partial("Forms\\_LoginInput", new NPS.WEB.Models.TextInputModel("login", "Логин", true))
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_PasswordInput", new NPS.WEB.Models.TextInputModel("password", "Пароль", false))
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-2">
                    <input type="checkbox" data-ng-model="data.rememberMe" class="form-control pull-left" />
                    <label class="pull-left">&nbsp;&nbsp;Запомнить меня?</label>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-sm-2 col-sm-offset-4">
    <button type="button" data-ng-click="submit()" class="btn btn-success" data-ng-disabled="form.$invalid">Войти</button>
</div>


