﻿@{
    Layout = null;
}

{{gcount}}
<div class="panel panel-default n-editor-panel">
    <div class="input-group">
        <div class="input-group pull-left">
            <input class="form-control" data-ng-model="objectName" data-ng-change="objectNameChanged()" data-ng-disabled="!digitizeMode || digitizeType==3" data-ng-show="currentLayer && currentLayer.objectName" type="text" style="width:400px; margin-top : 2px; border:none;" placeholder="Введите наименование объекта" />
        </div>

        <span>&nbsp;</span>

        <div class="btn-group">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle glyphicon glyphicon-th-list" data-toggle="dropdown" data-ng-click="" data-ng-disabled="digitizeMode" aria-haspopup="true" aria-expanded="false">
                    <span class="biz-font" data-ng-if="currentLayer!=null">{{currentLayer.name}}</span> <span class="biz-font" data-ng-if="currentLayer==null">слой не выбран</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a data-ng-click="selectCurrentLayer(null)" class="btn"> - Все - </a></li>
                    <li data-ng-repeat="layer in vectorLayers"><a data-ng-click="selectCurrentLayer(layer)" class="btn">{{layer.name}}</a></li>
                </ul>
            </div>
        </div>

        <span>&nbsp;</span>

        <div class="btn-group">
            <button class="btn btn-default glyphicon glyphicon-pencil" data-ng-if="!digitizeMode" data-ng-disabled="currentLayer==null" data-ng-click='startInsertion()' title="Нарисовать новый объект"></button>
            <button class="btn btn-success" data-ng-if="digitizeMode && digitizeType==1" data-ng-click='stopInsertion(true)'>Добавить</button>
            <button class="btn btn-danger" data-ng-if="digitizeMode && digitizeType==1" data-ng-click='stopInsertion(false)'>Отмена</button>

            <button class="btn btn-default glyphicon glyphicon-edit" data-ng-if="!digitizeMode" data-ng-disabled="currentLayer==null" data-ng-click='startUpdate()' title="Редактировать выбранный объект"></button>
            <button class="btn btn-success" data-ng-if="digitizeMode && digitizeType==2" data-ng-click='stopUpdate(true)'>Сохранить изменения</button>
            <button class="btn btn-danger" data-ng-if="digitizeMode && digitizeType==2" data-ng-click='stopUpdate(false)'>Отмена</button>

            <button class="btn btn-danger glyphicon glyphicon-remove" data-ng-if="!digitizeMode" data-ng-disabled="currentLayer==null" data-ng-click='startDeletion()' title="Удалить выбранный объект"></button>
            <button class="btn btn-success" data-ng-if="digitizeMode && digitizeType==3" data-ng-click='stopDeletion(true)'>Удалить выбранные объекты</button>
            <button class="btn btn-danger" data-ng-if="digitizeMode && digitizeType==3" data-ng-click='stopDeletion(false)'>Отмена</button>
        </div>

        <span>&nbsp;</span>

    </div>
    <div id="map" style="width:100%; height: 800px; margin-top : 2px;" class="container-over">
        <div id="gmap" class="container-over-item"></div>
        <div id="olmap" class="container-over-item"></div>
        <div class="btn-group pull-right">
            <button class="btn btn-default transparent" data-ng-if="!mapData.mapType || mapData.mapType==0" data-ng-click='switchMapType()'>Google: карта</button>
            <button class="btn btn-default transparent" data-ng-if="mapData.mapType==1" data-ng-click='switchMapType()'>Google: спутник</button>
            <button class="btn btn-default transparent" data-ng-if="mapData.mapType==2" data-ng-click='switchMapType()'>Google: гибрид</button>
            <button class="btn btn-default transparent" data-ng-if="mapData.mapType==3" data-ng-click='switchMapType()'>Google: рельеф</button>
            <button class="btn btn-default transparent" data-ng-if="useZoomFiltration" data-ng-click='switchUseZoomFiltration()'>Масштабная фильтрация: да</button>
            <button class="btn btn-default transparent" data-ng-if="!useZoomFiltration" data-ng-click='switchUseZoomFiltration()'>Масштабная фильтрация: нет</button>
        </div>
    </div>
</div>


