﻿@{
    Layout = null;
}

<nps-tabs></nps-tabs>

<div data-ng-show="selectedTabIndex==1">
    <form name="properties" novalidate class="form-horizontal panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">Свойства объекта</h4></div>
        <div class="panel-body">
            <div class="pull-right">
                <button type="button" class="btn btn-success glyphicon glyphicon-plus" data-ng-disabled="properties.$invalid" ng-click="addProperty()"></button>
                <button type="button" class="btn btn-success glyphicon glyphicon-ok" data-ng-show="!(properties.$invalid || propertiesCntx.currentValue==null)" ng-click="submitEditProperty()"></button>
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("property.displayName", "Наименование", true) { formName = "properties", maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("property.systemName", "Системный идентификатор", false) { formName = "properties", maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_BooleanInput", new NPS.WEB.Models.BooleanInputModel("property.isVisible", "Видимое?", false) { formName = "properties" })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_BooleanInput", new NPS.WEB.Models.BooleanInputModel("property.isRequired", "Обязательное?", false) { formName = "properties" })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("property.propertyType", "Тип", true, "propertyTypes") { formName = "properties" })
            </div>

            <div data-ng-show="data.property.propertyType==10">
                <div class="form-group">
                    @Html.Partial("Forms\\_IntegerInput", new NPS.WEB.Models.IntegerInputModel("property.maxLength", "Длина", false) { minValue = 1, maxValue = 1000, formName = "properties", placeholder = "от 1 до 1000" })
                </div>
            </div>

            <div data-ng-show="data.property.propertyType==20">
                <div class="form-group">
                    @Html.Partial("Forms\\_IntegerInput", new NPS.WEB.Models.IntegerInputModel("property.minIntegerValue", "Минимум", false) { formName = "properties" })
                </div>
                <div class="form-group">
                    @Html.Partial("Forms\\_IntegerInput", new NPS.WEB.Models.IntegerInputModel("property.maxIntegerValue", "Максимум", false) { formName = "properties" })
                </div>
            </div>

            <div data-ng-show="data.property.propertyType==21">
                <div class="form-group">
                    @Html.Partial("Forms\\_RealInput", new NPS.WEB.Models.RealInputModel("property.minRealValue", "Минимум", false) { formName = "properties" })
                </div>
                <div class="form-group">
                    @Html.Partial("Forms\\_RealInput", new NPS.WEB.Models.RealInputModel("property.maxRealValue", "Максимум", false) { formName = "properties" })
                </div>
            </div>

            <div data-ng-show="data.property.propertyType==50">
                <div class="form-group">
                    @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("property.enumId", "Перечисление", false, "propertyEnums") { formName = "properties" })
                </div>
            </div>

            <div data-ng-show="data.property.propertyType==60">
                <div class="form-group">
                    @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("property.propertyClassification", "Тип классификатора", false, "propertyClassifications") { formName = "properties" })
                </div>
            </div>

            <div data-ng-show="data.property.propertyType>=80 && data.property.propertyType<=82">
                <div class="form-group">
                    @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("property.nestedObjectId", "Опреление объекта", false, "nestedObjectCandidates") { formName = "properties" })
                </div>
            </div>

            <div data-ng-show="data.property.propertyType<70">
                <div class="form-group">
                    @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("property.valueFormat", "Формат представления", false) { formName = "properties", maxLength = 100 })
                </div>
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("property.tabId", "Раздел", false, "formTabs") { formName = "properties" })
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("property.tabSectionId", "Подраздел", false, "tabSections(data.property.tabId)") { formName = "properties" })
            </div>
        </div>
    </form>

    <div>
        <table class="table table-bordered border2">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Наименование</th>
                    <th>Тип</th>
                    <th></th>
                    <th>Раздел</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat-start="property in data.properties">
                    <td>
                        <span class="glyphicon glyphicon-eye-close" ng-show="!property.isVisible" title="Невидимое" />
                        <span class="glyphicon glyphicon-asterisk" ng-show="property.isRequired" title="Обязательное" />
                    </td>
                    <td>{{property.systemName}}</td>
                    <td>{{property.displayName}}</td>
                    <td>
                        {{getPropertyTypeName(property.propertyType)}}
                        <span data-ng-if="property.propertyType==10 && property.maxLength != null">[{{property.maxLength}}]</span>
                    </td>
                    <td>
                        {{getNestedObjectCandidateName(property.nestedObjectId)}}
                        {{getPropertyEnumName(property.enumId)}}
                        {{getPropertyClassificationName(property.propertyClassification)}}
                    </td>
                    <td>
                        {{getTabName(property.tabId)}}<br />
                        {{getTabSectionName(property.tabId, property.tabSectionId)}}
                    </td>
                </tr>
                <tr data-ng-repeat-end>
                    <td colspan="6">
                        <div class="btn-group-xs">
                            <button type="button" class="btn btn-default" ng-click="beginEditProperty($index)">Редактировать</button>
                            <button type="button" class="btn btn-default red" ng-click="removeProperty($index)">Удалить</button>
                            <button type="button" class="btn btn-default" ng-click="moveUpProperty($index)" ng-disabled="$index==0">Переместить выше</button>
                            <button type="button" class="btn btn-default" ng-click="moveDownProperty($index)" ng-disabled="$index==data.properties.length - 1">Переместить ниже</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div data-ng-show="selectedTabIndex==0">
    <form name="form" novalidate class="form-horizontal panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">Основные параметры</h4></div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("displayName", "Наименование", true) { maxLength = 100 })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("systemName", "Системный идентификатор", false) { maxLength = 100, mask = "^[a-zA-Z][a-zA-Z0-9-_\\.]*$", maskWarning = "Значение некорректно! Допустимы только символы a-z и цифры, начиная со второй позиции!" })
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("parentId", "Базовый объект", false, "parentCandidates"))
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_BooleanInput", new NPS.WEB.Models.BooleanInputModel("isAbstract", "Абстрактный тип?", false))
            </div>
            <div class="form-group">
                @Html.Partial("Forms\\_Select", new NPS.WEB.Models.SelectModel("extensionType", "Тип расширения", false, "extensionTypes"))
            </div>
        </div>
    </form>
</div>

<div class="col-sm-10 col-sm-offset-3">
    <button type="button" data-ng-click="submit()" class="btn btn-success" data-ng-disabled="form.$invalid">Сохранить определение {{data.displayName}}</button>
    <a href="#search" class="btn btn-default">Отмена</a>
</div>

