﻿@*Скрипты с кодом приложения*@
@section scripts {

<script src="~/Scripts/biz/applications/meta/objects/app.js"></script>
<script src="~/Scripts/biz/applications/meta/objects/services.js"></script>

<script src="~/Scripts/biz/applications/meta/objects/controllers/list-controller.js"></script>
<script src="~/Scripts/biz/applications/meta/objects/controllers/item-controller.js"></script>

}

@{
    ViewBag.Title = "Редактор объектов";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}

