﻿<div>
    <nav class="pull-left">
        <ul class="pagination" style="margin-bottom : -10px;">
            <li data-ng-class="{'active': ps == data.pageSize}" data-ng-repeat="ps in data.pageSizes">
                <a data-ng-click="selectPageSize(ps)">{{ps}}</a>
            </li>
        </ul>
        <span>записей на странице</span>
    </nav>
    <nav class="pull-right">
        <span>Всего записей:</span>&nbsp;<span class="n-text-bold">{{data.itemsCount}}</span>
        <ul class="pagination" style="margin-bottom : -10px;">
            <li data-ng-class="{'active': p.number == data.page}" data-ng-repeat="p in data.pages">
                <a data-ng-click="selectPage(p.number)">{{p.text}}</a>
            </li>
        </ul>
    </nav>

</div>