﻿<div class="pull-right">
    <div class="input-group stylish-input-group" style="width:400px;">
        <input type="text" class="form-control" placeholder="Поиск..." data-ng-model="data.filter.criteria">
        <span class="input-group-addon">
            <button type="button" data-ng-click="query()" title="Найти...">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <button type="button" data-ng-click="extraFilterToggle()" data-ng-show="extraFilterEnabled" title="Расширенный поиск...">
                <span class="glyphicon glyphicon-tasks"></span>
            </button>
            <button type="button" data-ng-click="clearFilter()" title="Очистить фильтр">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button" data-ng-show="data.filter.filterBySelectSet || data.filter.selectSet.length > 0" data-ng-click="onSelectSetClick()" title="Показать выбранные строки">
                <span data-ng-if="data.filter.filterBySelectSet" class="glyphicon glyphicon-star"></span>
                <span data-ng-if="!data.filter.filterBySelectSet" class="glyphicon glyphicon-star-empty"></span>
                <span class="small">{{data.filter.selectSet.length}}</span>
            </button>
        </span>
    </div>
</div>
