﻿<div style="margin-bottom : 10px;" data-ng-show="!_printMode">
    <div class="btn-group" role="group" aria-label="...">
        <button data-ng-repeat="tab in tabs" type="button" class="btn btn-default" data-ng-click="selectTab($index)"
                data-ng-class="{active: selectedTabIndex==$index, error: forms[$index].$invalid}">
            {{tabs[$index]}}
        </button>
    </div>
</div>
