﻿<div class="text-right nps-vmds" data-ng-show="id != null" style="margin-right : 0px;">
    <span data-ng-if="vmds.snapshot != null" class="label label-danger">Вы просматриваете архивные данные! Операции редактирования запрещены!</span>
    <select class="small" data-ng-model="currentVersion.number">
        <option class="small" data-ng-repeat="version in versions" value="{{version.number}}">{{version.name}}</option>
    </select>
    <button class="small" type="button" data-ng-click="setVersion()">Выбрать</button>
    <button data-ng-if="vmds.snapshot != null && hasActualVersion" class="small" type="button" data-ng-click="gotoActualVersion()">Перейти к актуальной версии</button>
</div>

