﻿<div class="row">
    <div class="pull-right nps-vmds" data-ng-if="vmds.snapshot != null">
        <h4>
            <span data-ng-if="vmds.snapshot != null" class="label label-danger">Вы просматриваете архив на дату {{vmds.snapshot.toLocaleDateString()}} и время {{vmds.snapshot.toLocaleTimeString()}}! Все операции с данными кроме просмотра запрещены! Для продолжения работы нажмите кнопку 'Закрыть архив'.</span>
            <button data-ng-if="vmds.snapshot != null" class="btn btn-success" type="button" data-ng-click="gotoActualData()">Закрыть архив</button>
        </h4>
    </div>
    <!--<div class="pull-right nps-vmds">
        <span class="glyphicon glyphicon-camera"></span>
        <input type="checkbox" disabled="disabled" data-ng-model="vmds.useVersioning" data-ng-change="setVMDS()" title="Версионный режим базы данных">
        <input type="datetime-local" data-ng-model="vmds.snapshot" data-ng-change="snapshotChanged()">
        <button type="button" data-ng-click="setVMDS()">{{vmds.SnapshotToString}}</button>
    </div>-->
</div>
