﻿@{
    Layout = null;
}

<div class="btn-group n-menu biz-doc">
    <a class="btn btn-default" href="/api/admin/accounts/view">Учетные записи</a>
    <a class="btn btn-default" href="/api/admin/roles/view">Роли</a>
    <a class="btn btn-default" href="/api/admin/operations/view">Операции</a>
    <a class="btn btn-default active" href="/api/admin/settings/view">Настройки</a>
</div>

<div>
    <form name="form" novalidate data-ng-submit="submit()" class="form-horizontal panel n-editor-panel">
        <div class="panel-heading"><h4 class="panel-title">Основные настройки системы</h4></div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("wmsUrl", "URL сетевых растровых данных (WMS)", true))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("wfsUrl", "URL сетевых векторных данных (WFS)", true))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("rosregUrl", "URL данных по границам земельных участков Росреестра (WMS)", true))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("rosregPortalUrl", "URL публичной карты Росреестра", true))
            </div>
        </div>
        <div class="panel-heading"><h4 class="panel-title">Наименования слоев пространственных данных</h4></div>
        <div class="panel-body">

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("layerLinesLVName", "Имя слоя ВЛ 0.4 кВ", true))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("layerLinesMVName", "Имя слоя ВЛ 6-35 кВ", false))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("layerLinesHVName", "Имя слоя ВЛ 110-500 кВ", false))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("layerPoleTransmissionName", "Имя слоя опоры питающей сети", false))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("layerPoleDistributionName", "Имя слоя опоры распределительной сети", false))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("layerSubstationPointHVName", "Имя слоя символа центра питания", false))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("layerSubstationPointMVName", "Имя слоя символа подстанции 6-35 кВ", false))
            </div>

            <div class="form-group">
                @Html.Partial("Forms\\_TextInput", new NPS.WEB.Models.TextInputModel("layerSubstationAreaName", "Имя слоя контура подстанций", false))
            </div>
        </div>
    </form>
</div>

<div class="col-sm-10 col-sm-offset-3">
    <button type="button" data-ng-click="submit()" class="btn btn-success" data-ng-disabled="form.$invalid">Сохранить</button>
</div>


