﻿@*Скрипты с кодом приложения*@
@section scripts {

<script src="~/Scripts/biz/settings/app.js"></script>
<script src="~/Scripts/biz/settings/services.js"></script>

<script src="~/Scripts/biz/settings/controllers/edit-controller.js"></script>

}

@{
    ViewBag.Title = "Настройки";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}


