﻿html, body {
    height: 100%;
    min-width: 1100px;
    background-color: #EEEEEE;
}

body {
    font: 12px Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

.mainWrap {
    margin: 0 auto;
    max-width: 1360px;
    min-width: 768px;
    width: 100%;
    background-color: #ffffff;
    min-height: 100%;
}

.quote {
  border-collapse: collapse;
  border: solid 1px #888;
  margin: 10px;
  background-color: #efefff;
  min-width: 690px;
}

 .quote th {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #000000;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #000000;
        background-color: #cde6ee;
        color: #1a4780;
        font-weight: bold;
        text-align: center;
    }

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 734px;
    position: relative;
}

.header {
    margin: 0 auto;
    position: relative;
    height: 172px;
    background-image: url('/Content/public/images/header.jpg');
    background-position: center top;
    background-repeat: no-repeat;
}

.header_button_first {
    background: url('/Content/public/images/header_button.png') no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    width: 275px;
    float: left;
    height: 30px;
    font-size: 14px;
    font-weight: normal;
    top: 0px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    vertical-align: top;
    color: #1D7C69 !important;
    position: absolute;
    margin-left: 200px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    }

.header_button_second {
        background: url('/Content/public/images/header_button.png') no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    width: 275px;
    height: 30px;
        font-size: 14px;
    font-weight: normal;
    top: 0;
    padding-left: 5px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    vertical-align: top;
    color: #1D7C69 !important;
    position: absolute;
    margin-left: 500px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    }

.header a.header_button {
    width: 300px;
    height: 30px;
    color: #1D7C69 !important;
    padding: 0 0 20px 0;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 14 px;
    vertical-align: top;
}

        .header a.header_button:hover {
            text-decoration: underline;
        color: #1D7C69 !important;
        font-size: 14 px;
        }

    .header a.header_button:visited {
        width: 300px;
        height: 30px;
        color: #1D7C69 !important;
        padding: 0 0 20px 0;
        font-family: Tahoma, Arial, Helvetica, Sans-Serif;
        vertical-align: top;
    }

    .header a.header_button:link {
        width: 300px;
        height: 30px;
        color: #1D7C69 !important;
        padding: 0 0 20px 0;
        font-family: Tahoma, Arial, Helvetica, Sans-Serif;
        font-size: 13 px;
        vertical-align: top;
    }

.prefooter {
    display: block;
    clear: both;
    height: 85px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    min-width: 961px;
    margin: 10px 0px;
}

    .prefooter div {
        width: 200px;
        height: 74px;
        vertical-align: top;
        display: inline-block;
        *display: inline;
        zoom: 1;
        text-align: left;
        position: relative;
    }

        .prefooter div span {
            position: absolute;
            top: 10px;
            left: 60px;
        }

    .prefooter .stretch {
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0;
    }

.footer {
    border-top: 1px solid #ddd;
    color: #046833;
    font-size: 11px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #EEEEEE;
}

    .footer a:link {
        color: #046833;
    }

    .footer a:hover {
        text-decoration: underline;
    }

.footer_right {
    float: right;
    width: 450px;
    text-align: right;
    font-size: 10px;
    color: #046833;
    padding-right: 10px;
}

.footer_line {
    background: url("/images/open/footer_line.png") repeat-x;
    height: 5px;
    margin: 0px 10px 3px 10px;
}

.filterSummary {
    background-color: #ffffff;
}

.filterSummaryTitle {
    font-weight: bold;
}

.panelbuttons {
    vertical-align: middle;
    padding: 5px;
}

.opensection {
    background: url('/Content/public/images/stripe.png') repeat;
    border: 1px solid #ECECEC;
    text-align: left;
    padding: 5px 10px 50px;
}

.opensection .title {
    font-family: Arial;
    font-weight: bolder;
    font-size: 14px;
    color: #046833;
    margin: 5px 0px;
    width: 100%;
    text-align: center;
    background-image: url('/Content/public/images/opensection_separ.png');
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 15px;
}

.content-header {
    font-family: Arial;
    font-weight: bolder;
    font-size: 14px;
    color: #046833;
    margin: 20px 0px;
    width: 100%;
    text-align: center;
}

.opensection_stripe {
    background: url('/Content/public/images/stripe.png') repeat;
    border: 1px solid #ECECEE;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 7px !important;
}

    .opensection_stripe .title {
        font-family: Arial;
        font-weight: bold;
        color: #046833;
        text-align: center;
        margin: 5px 0px;
        font-size: 12px;
    }

    .opensection_stripe legend {
        font-family: Arial;
        font-weight: bold;
        color: #1D7C69;
    }

    .opensection_stripe.linkslist a:link {
        font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
        color: #046833;
        font-size: 11px;
        text-align: left;
        border-radius: 10px !important;
    }

    .opensection_stripe.linkslist a div {
        background-image: url("/images/open/opensection_stripe_separ.png");
        background-repeat: repeat-x;
        background-position: bottom;
        padding: 5px 5px;
    }

    .opensection_stripe.linkslist a:hover {
        color: #5E5E5E;
    }

.topmenu {
    display: block;
    text-align: center;
    overflow: hidden;
    color: #000000;
    margin: 20px 0 10px 0;
    font-size: 14px;
    font-weight: normal;
    border-radius: 10px;
}

    .topmenu table {
        width: 100%;
        vertical-align: middle;
    }

a.menuLeft .topmenu td:hover {
    background: #EEFFD6;
    }

.topmenu td:hover > a.data {
    background: url("/images/open/topmenu/item_over.png") repeat-x;
}

    .topmenu td.separ {
    background: url("/images/open/topmenu/separator.png") no-repeat;
        width: 1px;
    }

    .topmenu .data {
        display: block;
    background: url("/images/open/topmenu/topitem.png") repeat-x;
        line-height: 51px;
    }

    .topmenu ul {
        position: absolute;        
        background: #fff;
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        z-index: 1000;
    }

        .topmenu ul li {
            display: block;
            width: 100%;
            font-size: 12px;
            text-shadow: 1px 1px 0 #fff;
            border-radius: 5px;            
        font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        }

            .topmenu ul li a {
                display: block;
                width: 100%;
                line-height: 40px;
                border-radius: 5px;                
            }

                .topmenu ul li:hover {
                    background: #e9edf3;
                }

table.default div {
    margin-bottom: 5px;
    margin-top: 5px;
}

img {
    border-width: 0px;
}

.tbxLogin {
    margin: 2px;
    width: 180px;
}

.watermarked {
    margin: 2px;
    width: 90%;
    height: 25px;
    font-size: 25px;
    color: #E6E6E6;
}

text {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
}

h1 {
    color: #800000;
    font-size: 20px;
}

input {
    color: #333333;
}

    input.txt {
        border: 1px solid #999966;
    }

    input[type="text"], input[type="password"] {
        border: 1px solid #999966;
    }

    input.numeric {
        text-align: right;
    }

    input.noborder {
        border: 0px none #ffffff;
    }

    input.button {
        background-color: #007CA6;
        font-weight: bold;
        color: #FFFFFF;
        border: 1px solid #666666;
        height: 26px;
        padding-left: 10px;
        padding-right: 10px;
    }



textarea {
    border: 1px solid #999966;
    letter-spacing: normal;
}

select {
    border: 1px solid #999966;
    color: #333333;
    max-width: 100%;
}

option {
    max-width: 100%;
}

button.default, input.default[type="button"], input.default[type="submit"] {
    color: #333333;
    background-color: #ffffff;
}

input.text {
    font-size: 95%;
    background-color: #ffffff;
}

.btm {
    background-image: url(../images/btm.gif);
    background-repeat: repeat-x;
    display: block;
}

.mfon {
    background-color: #4786a6;
    background-image: url(../images/mfon.gif);
    background-repeat: repeat-x;
}

.mfoninner {
    background-image: url(../images/mfon.png);
    background-repeat: repeat-x;
}

.data {
    font-weight: bold;
    text-decoration: none;
    color: #E7EDF6;
}

.clock {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 15px;
    color: #16394D;
}

a.data:link {
    color: #000;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}

a.data:visited {
    color: #000;
}

a.data:hover {
    color: #1D7C69;
    background: #EEFFD6;
}

a.data:active {
    color: #046833;
    background: #EEFFD6;
}

.headerright {
    background-image: url('/images/headerright.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 100%;
}

.header_text_title {
    font-family: Calibri;
    margin-left: 5px;
    text-align: right;
    width: 600px;
    color: #5E5E5E;
    font-size: 20px;
    font-weight: bolder;
}

.header_text_customer {
    font-family: Calibri;
    margin-left: 5px;
    text-align: right;
    width: 600px;
    color: #5E5E5E;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.zg {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-weight: bold;
    color: #046833;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #046833;
}

a:link,
a:active,
a:hover,
a:visited {
    color: #046833;
}

.newsd {
    font-size: 95%;
    font-weight: bold;
    color: #046833;
    text-decoration: none;
}

.newst {
    font-size: 95%;
    color: #046833;
}

.tdborder {
    border-top: 0px;
    border-right: 1px solid #AEEF98;
    border-bottom: 0px;
    border-left: 0px;
}

p {
    color: #1D7C69;
    text-align: justify;
}

.table100 {
    height: 100%;
}

.odd {
    BACKGROUND-COLOR: #ebf4f7;
}

.even {
    BACKGROUND-COLOR: White;
}

.submit {
    background-color: #ffffff;
    color: #333333;
}

.txtFullWidth {
    color: Black;
    width: 600px;
}

.repeaterHead {
    background-color: #cde6ee;
    color: #046833;
    font-weight: bold;
    text-align: center;
}

.blueTextBold {
    color: #046833;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.redTextBold {
    color: #AA2211;
    font-size: 110%;
    font-weight: bold;
}

.redText {
    color: #AA2211;
}

.hand {
    cursor: pointer;
    text-decoration: none;
    color: #046833;
}

.maincontent {
    width: 100%;
    margin: 0;
    padding: 0;
}

.leftcol {
    overflow-x: hidden;
    float: left;
}

.menu_splitter {
    background-color: #F3F3F1;
    background-position: left center;
    background-repeat: no-repeat;
    margin-top: 5px;
    cursor: pointer;
    height: 100%;
    min-height: 300px;
    margin-left: 1px;
    width: 6px;
}

    .menu_splitter.left {
        float: left;
        background-image: url("/images/LeftMenu/close.png");
    }

    .menu_splitter.right {
        float: right;
        background-image: url("/images/LeftMenu/open.png");
    }

.splitter_open.left {
    background-image: url("/images/LeftMenu/open.png");
}

.splitter_open.right {
    background-image: url("/images/LeftMenu/close.png");
}

.menu_splitter:hover {
    background-color: #ddd;
}

.centercontent {
    padding: 0px 5px;
    margin-left: 256px;
}

.rightcol {
    min-height: 320px;
    overflow-x: hidden;
    float: right;
    margin-top: 5px;
}

.hand:link {
    color: #046833;
}

.hand:visited {
    color: #046833;
}

.hand:active {
    color: #00D45D;
}

.hand:hover {
    color: #00D45D;
}

.ddlFilter {
    border: solid 1px #BBCCEE;
    background-color: White;
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.borderTable {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #000000;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000000;
}

    .borderTable tr {
    }

    .borderTable th {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #000000;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #000000;
        background-color: #cde6ee;
        color: #046833;
        font-weight: bold;
        text-align: center;
    }

    .borderTable td {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #000000;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #000000;
    }



/*Dynamic menu*/
#dropmenudiv {
    position: absolute;
    background-color: #E7EDF6;
    border: 1px solid black;
    font: normal 12px Verdana;
    line-height: 18px;
    z-index: 100;
}




.navlist li {
    list-style-type: square;
    width: 135px;
    background-color: #FFFFB9;
}


.defaultLink {
    font-weight: bold;
    color: #1122AA;
    text-decoration: none;
}

a.defaultLink:link {
    color: #1122AA;
}

a.defaultLink:visited {
    color: #1122AA;
}

a.defaultLink:hover {
    color: #1122AA;
    text-decoration: underline;
}

a.defaultLink:active {
    color: #1122AA;
}



.infoForm {
    color: #000000;
}

.contentHeader {
    color: #464A4C;
    min-height: 25px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.contentHeader span.date,
div.current-date {
    font-size: 14px;
    color: #374C58;
}

#menuHdr {
    color: #046833;
    font-weight: bold;
    background-color: #AEEF98;
    min-height: 25px;
    padding-bottom: 5px;
}

#newsHdr, #rssHdr {
    color: #046833;
    font-weight: bold;
    background-color: #AEEF98;
    min-height: 25px;
    padding-bottom: 5px;
}

.borderTableWithRules th {
    border: 1px solid black;
}

.borderTableWithRules td {
    border: 1px solid black;
}

/* Classes to visualize wizardlike layout*/
.wzd_sitm {
    font-weight: bold;
    font-style: italic;
}

.wzd_itm {
    font-style: italic;
}
/* Form general style*/
.frmGeneral {
    color: Black;
    background-color: #A3D1E2;
}

/* Classes to visualize panels*/
.pnl_head {
}

.pnl_body_blue {
    background-color: #A3D1E2;
}
/* Техtbox styles */
.txtFullWidth {
    color: Black;
    width: 95%;
}

.txt600 {
    color: Black;
    width: 600px;
}

.txt200 {
    color: Black;
    width: 200px;
}

.txt400 {
    color: Black;
    width: 400px;
}

.txtDate {
    color: Black;
    width: 80px;
    text-align: center;
}

.txtYear {
    color: Black;
    width: 60px;
    text-align: center;
}
/* Classes for labels*/
.lblForm {
}
/* Classes for buttons*/
.btnForm {
    color: #333333;
    background: #ffffff;
}
/* Classes for GridViews*/
table.default {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

table.default td {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: Silver;
}

tr.alternate td {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: Silver;
}

table.default th,
.table th {
    color: #046833;
    background-color: #AEEF98;
    font-weight: bold;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: Silver;
    text-align: center;
}

.descendingHeader {
    background-image: url('/images/Icons/SortDesc.gif');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 5px;
}

.ascendingHeader {
    background-image: url('/images/Icons/SortAsc.gif');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 5px;
}

table.default tr {
    border-width: 1px;
    border-style: solid;
    border-color: Silver;
    color: Black;
    background-color: White;
    font-weight: normal;
}

tr.alternate {
    border-width: 1px;
    border-style: solid;
    border-color: Silver;
    color: Black;
    background-color: #FFF9F9;
}

table.default tr:hover,
tr.alternate:hover {
    background-color: #EDFFD3;
}

.deleted {
    background-color: Red;
}

.modified {
    background-color: Lime;
}

.published {
    color: blue;
}

.panelGroup {
    background-color: #a3d1e2;
    font-weight: bold;
    color: Black;
}

.tblBorder {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #a9a9a9;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #a9a9a9;
    border-collapse: collapse;
    empty-cells: show;
}

    .tblBorder td {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #a9a9a9;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #a9a9a9;
    }

    .tblBorder th {
        color: #046833;
        background-color: #CDE6EE;
        font-weight: bold;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #a9a9a9;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #a9a9a9;
    }

div fieldset legend,
.bold {
    font-weight: bold;
}

.bottom {
    width: 100%;
    font-size: 10px;
    display: block;
    clear: both;
    height: 70px;
    padding-top: 10px;
}

/*Content Management*/
.cmItemTitle {
    color: #9e0c0c;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    /*font-weight: bold;*/
    text-decoration: none;
}

.cmItemPreview {
    color: #154F90;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}

.cmItemDate {
    font-size: 10px;
}

.lastnewsdateday {
    color: #374D5B;
    font-size: 24px;
    text-align: center;
}

.lastnewsdatemonth {
    color: #C0C0C0;
    font-size: 18px;
    text-align: center;
}

span.lastnewscategory, a.lastnewscategory {
    font-weight: bold;
    font-size: 14px;
    color: #5E5E5E;
}

.cmNewsItemDate {
    font-size: 12px;
    text-align: center;
    color: #000;
    background-color: #E7EDF6;
}

.cmItemLink {
    color: #046833;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
}

.cmSeparator {
    height: 3px;
    width: 100%;
    background-color: #BBD1EE;
    margin-top: 3px;
    margin-bottom: 3px;
}

#cmaccordion {
    width: 100%;
    margin: 0;
    color: #000;
    width: 100%;
}

    #cmaccordion ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #cmaccordion h3 {
        cursor: pointer;
        padding-left: 30px;
        line-height: 20px;
        position: relative;
    }

    #cmaccordion li {
        margin-bottom: 1px;
    }

        #cmaccordion li div {
            display: none;
        }


.cmMaterialImage {
    border: 1px solid #AEEF98;
    width: 50px;
    height: 61px;
}
/*End Content Management*/

/*Inner Login Control*/
.loginInner {
    font-size: 12px;
    width: 100%;
}

    .loginInner table {
        width: 100%;
        height: 28px;
        vertical-align: middle;
    }

a.loginInner {
    color: #fff;
}

    a.loginInner:hover {
        text-decoration: underline;
    }
/*End Inner Login Control*/

/*Dynamic Dictionary*/
.dynamicDictionaryMain {
    width: 50px;
    text-align: center;
    display: inline-block;
    *display: inline;
    border: 1px solid #000;
}

    .dynamicDictionaryMain a {
        cursor: pointer;
    }

.dynamicDictionaryItems {
    position: absolute;
    display: none;
    width: auto;
    min-width: 50px;
    max-width: 500px;
    max-height: 300px;
    min-height: 50px;
    overflow: scroll;
}

    .dynamicDictionaryItems table, .dynamicDictionaryItems td, .dynamicDictionaryItems th {
        border: 1px solid black;
    }

    .dynamicDictionaryItems tr {
        cursor: pointer;
    }

    .dynamicDictionaryItems table {
        border: solid 1px #7f7f7f;
        color: #000000;
        width: 100%;
    }

    .dynamicDictionaryItems th {
        border-color: #989898 #cbcbcb #989898 #989898;
        border-style: solid solid solid none;
        border-width: 1px 1px 1px medium;
        color: #000;
        text-align: center;
        vertical-align: bottom;
    }

    .dynamicDictionaryItems .row td, .dynamicDictionaryItems .altrow td {
        text-align: left;
        border-right: solid 1px #cbcbcb;
        color: #777;
    }

    .dynamicDictionaryItems .row td {
        background-color: #FFFFFF;
    }

    .dynamicDictionaryItems .altrow td {
        background-color: #EDF5FF;
    }

    .dynamicDictionaryItems tr.row:hover td, .dynamicDictionaryItems tr.altrow:hover td {
        color: #000;
        background-color: #FFFACD;
        background-repeat: no-repeat;
    }

/*End Dynamic Dictionary*/

/*Left Menu*/
.sidemenu a {
    font-weight: bold;
    display: block;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    color: #000000;
}

    .sidemenu a:hover {
        color: #046833;
    }

.sidemenu {
    background: #fff;
    width: 100%;
    margin: 0;
    width: 250px;
    font-size: 14px;
}

    .sidemenu ul {
        margin: 0;
        padding: 0;
    }

    .sidemenu li:hover {
        color: #fff;
    }

    /*heading styles*/
    .sidemenu li {
        line-height: 50px;
        padding: 0 10px;
        cursor: pointer;
        background-image: url('/Content/public/images/item.png');
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        position: relative;
        list-style-type: none;
        margin-bottom: 5px;
        text-align: center;
        height: 100%;
    }

.sidemenu li span {
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
}

    .sidemenu li span:hover {
        color: #046833;
    }

        .sidemenu li:hover {
            background-image: url('/Content/public/images/item_over.png');
            background-repeat: no-repeat;
            color: #046833;
        }

    .sidemenu ul ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        background: none;
        cursor: default;
        line-height: 30px;
    }

    .sidemenu ul li ul li a {
        color: #046833;
    }

    .sidemenu ul li ul li:hover a {
        background-color: #ffffff;
        text-decoration: underline;
        color: #000000;
    }

    .sidemenu ul ul {
        margin: 0;
        padding: 0;
    }

    /*Lets hide the non active LIs by default*/
    .sidemenu ul ul {
        display: none;
    }

    .sidemenu li.active ul {
        display: block;
    }

.menu_group_state {
    background-image: url(/images/LeftMenu/down.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 14px;
    right: 3px;
    top: 18px;
    position: absolute;
}

.state_close {
    background-image: url(/images/LeftMenu/up.png);
}

.left_menu_Icon {
    font-size: 16px;
    margin-right: 10px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 3px;
    top: 0px;
}

/*GridView Pager*/
.GridViewPager span /*current page style*/ {
    font-weight: bold;
}
/*GridView Pager End*/

/*DropDown CheckBoxList*/
.dropDownCheckBoxList {
    display: none;
}

    .dropDownCheckBoxList input[type=text] {
        height: 15px;
    }

.dropdown_downimage {
    width: 17px;
    height: 18px;
    float: right;
    position: absolute;
}
/*DropDown CheckBoxList END*/

/*new che des*/
.art-object1030346877 {
    display: block;
    left: 34.8%;
    margin-left: -200px;
    position: absolute;
    top: 38px;
    width: 575px;
    height: 101px;
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2;
}

.art-object184386062 h1,
.art-object184386062 h2,
.art-object184386062 h3,
.art-object184386062 h4,
.art-object184386062 h5,
.art-object184386062 h6,
.art-object184386062 p,
.art-object184386062 a,
.art-object184386062 ul,
.art-object184386062 ol,
.art-object184386062 li {
    line-height: 100%;
}

.art-object184386062 {
    position: absolute;
    top: 0px;
    left: 23.4%;
    margin-left: -44px !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    overflow: hidden;
    background-image: url('/Content/public/images/object184386062.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    z-index: 3;
    width: 200px;
    height: 28px;
}

.art-object184386062-text-container {
    display: table;
}

.art-object184386062-text {
    line-height: 100%%;
    display: table-cell;
    outline-style: none;
    padding: 0px 0px !important;
    height: 28px;
    width: 200px;
    word-wrap: break-word;
}

    .art-object184386062-text,
    .art-object184386062-text a.art-rss-tag-icon,
    .art-object184386062-text a.art-facebook-tag-icon,
    .art-object184386062-text a.art-twitter-tag-icon {
        font-size: 12px;
        font-family: Tahoma, Arial, Helvetica, Sans-Serif;
        text-align: center;
        vertical-align: middle;
        color: #00522E !important;
    }

.art-textblock ul > li {
    background-position-y: 0px !important;
}

.art-object1671686554 h1,
.art-object1671686554 h2,
.art-object1671686554 h3,
.art-object1671686554 h4,
.art-object1671686554 h5,
.art-object1671686554 h6,
.art-object1671686554 p,
.art-object1671686554 a,
.art-object1671686554 ul,
.art-object1671686554 ol,
.art-object1671686554 li {
    line-height: 100%;
}

.art-object1671686554 {
    position: absolute;
    top: 0px;
    left: 56.2%;
    margin-left: -116px !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    overflow: hidden;
    background-image: url('/Content/public/images/object1671686554.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    z-index: 4;
    width: 200px;
    height: 28px;
}

.art-object1671686554-text-container {
    display: table;
}

.art-object1671686554-text {
    line-height: 100%%;
    display: table-cell;
    outline-style: none;
    padding: 0px 0px !important;
    height: 28px;
    width: 200px;
    word-wrap: break-word;
}

    .art-object1671686554-text,
    .art-object1671686554-text a.art-rss-tag-icon,
    .art-object1671686554-text a.art-facebook-tag-icon,
    .art-object1671686554-text a.art-twitter-tag-icon {
        font-size: 12px;
        font-family: Tahoma, Arial, Helvetica, Sans-Serif;
        text-align: center;
        vertical-align: middle;
        color: #006B3D !important;
    }

.art-textblock ul > li {
    background-position-y: 0px !important;
}

.art-logo-414214997 {
    position: absolute;
    top: 0px;
    left: 84.15%;
    margin-left: -154px !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    /*z-index: 101;*/
    width: 184px;
    height: 172px;
}

.art-shapes {
    text-align: center;
    margin-right: 250px;
    padding-top: 40px;
}

.footer div {
    margin-left: 20px;
    line-height: 20px
}

table.default {
    width: 100%;
}

.name {
    font-size: 22px;
}
/*цвета таблиц для открытой части*/
.table.border2 {
    border: 3px solid #AEEF98;
}

.table.border2 > tbody > tr:nth-child(odd) {
    border-top: 3px solid #AEEF98;
    border-left: 3px solid #AEEF98;
    border-right: 3px solid #AEEF98;
}

.table.border2 > tbody > tr:nth-child(even) {
    border-bottom: 3px solid #AEEF98;
    border-left: 3px solid #AEEF98;
    border-right: 3px solid #AEEF98;
}

.n-editor-panel .panel-heading {
    background-color: #AEEF98;
}

.table.border2 > tbody > tr:nth-child(4n+1) > td, 
.table.border2 > tbody > tr:nth-child(4n+1) > th,
.table.border2 > tbody > tr:nth-child(4n+2) > td, 
.table.border2 > tbody > tr:nth-child(4n+2) > th 
{
    background-color: #E6E6E6;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.form-horizontal .control-label {
    padding-top: 0;
    font-weight: bold;
}

#loading {
    display: block;
    text-align: right;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: -3px 3px 5px #777;
    color: #777;
    width: 110px;
    padding: 10px;
    margin: 0 auto;
    margin-left: -50px;
    overflow: visible;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    background-image: url('images/loading.gif');
    background-position: left;
    background-repeat: no-repeat;
    z-index: 1030;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group,
.n-menu {
    margin-bottom: 5px !important;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.stylish-input-group .input-group-addon {
    background: #fff !important;
}

.login .main-login {
    padding: 30px;
    border: 2px solid #AEEF98;
}

.login input[type='button'],
.login input[type='submit'] {
    padding: 5px 7px;
    margin-top: 5px;
    border: 1px solid #AEEF98;
    background-color: #AEEF98;
    color: #fff !important;
    font-size: 12px !important;
}

.login input[type='button']:hover,
.login input[type='submit']:hover {
    border: 1px solid #AEEF98;
    background-color: #fff;
    color: #AEEF98 !important;
    cursor: pointer;
    text-decoration: none;
}

div.login {
    width: 400px;
    margin: auto;
}

input.login {
    margin-left: 110px;
}

.tableList {
    width: 100%;
    padding: 1px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

tr.editor-reference-value td, td.editor-reference-value {
    color: #4389C7;
    background-color: white;
}

.tableList td {
    padding: 5px;
    border: none;
    border-top: 1px solid #ddd;
    border-right: 1px dotted #ddd;
    background-color: #fff;
    color: #777;
    vertical-align: top;
    box-shadow: 0 0 2px 0 #fff inset;
}

.tableList th {
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #AEEF98;
    color: #777;
    text-align: left;
    font-weight: normal;
    box-shadow: 0 0 2px 0 #fff inset;
}

tr.editor-reference-value:hover td, td.editor-reference-value:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.toolbar {
    height: 50px;
}

div.protocols {
    margin-bottom: 30px;
}

.protocols legend {
    width: inherit;
    border: none;
    padding: 0 5px;
}

.protocols fieldset {
    padding: .35em .625em .75em;
    border: 2px solid #cfdde6;
}

.wait {
    filter: alpha(opacity=50);
    opacity: .5;
}

.download-registry {
    margin-bottom: 5px;
}

table.contacts-table.default {
    margin-top: 20px;
}