﻿@*Скрипты с кодом приложения*@
@section scripts {

    <script src="~/Scripts/biz/dashboard/app.js"></script>
    <script src="~/Scripts/biz/dashboard/services.js"></script>

    <script src="~/Scripts/biz/dashboard/controllers/main-controller.js"></script>

}

@{
    ViewBag.Title = "Закрытая часть системы";
    Layout = "~/Views/Shared/_LayoutBiz.cshtml";
}

@section header {
}

@section pageHeader {
}

@section footer {
}
