﻿@{
    Layout = null;
}

<div>
    <table class="table border2 table-bordered table-striped">
        <tr>
            <th class="summary">Пользователь</th>
            <td><a data-ng-if="data.userId != null" href="/api/admin/accounts/view/#account/{{data.userId}}"title="Параметры учетной записи">{{data.userName}}</a></td>
        </tr>
        <tr>
            <th class="summary">Филиал</th>
            <td>{{getItemName(branches, data.department)}}</td>
        </tr>
        <tr>
            <th class="summary">Полномочия</th>
            <td>{{data.bizDescription}}</td>
        </tr>
        <tr data-ng-if="$bizIsPermitted">
            <th class="summary">Заявки</th>
            <td><a href="/api/biz/requests/view">{{data.requestsCount}}</a></td>
        </tr>
    </table>
</div>

