﻿@{
    Layout = null;
}

<div data-ng-controller="AccountInfoCtrl" data-ng-cloak>
    <div data-ng-show="accountInfo">
        <div data-ng-if="accountInfo.isAuthorized" class="text-right">
            <span>
                Пользователь:
                <a data-ng-if="accountInfo.id != null" href="/api/admin/accounts/view/#account/{{accountInfo.id}}" class="btn btn-default" title="Параметры учетной записи">{{accountInfo.displayName}}</a>
                <span data-ng-if="accountInfo.id == null">{{accountInfo.displayName}}</span>
            </span>
            <button data-ng-click="logOut()" class="btn btn-default">Выйти</button>
            <a href="/api/admin/accounts/view/#password/{{accountInfo.login}}" class="btn btn-default" title="Изменить пароль">Изменить пароль</a>
        </div>
        <div data-ng-if="!accountInfo.isAuthorized" class="text-right">
            <button data-ng-click="logIn()" class="btn btn-default">Войти</button>
        </div>
    </div>
</div>
