﻿<!DOCTYPE html>

<html lang="ru" xmlns:ng="http://angularjs.org" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="ico">

    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.fileupload.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.fileupload-ui.js")" charset="windows-1251"></script>

    <script src="@Url.Content("~/Scripts/biz/org-structure.js")" charset="windows-1251"></script>

    @Styles.Render("~/Content/biz-css")
</head>

<body data-ng-app="BizApp">
    <p id="loading" style="display: none">Загрузка...</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!--Навигационное меню текущего раздела-->
                <div class="row main-header" data-ng-show="!_printMode">
                    <div class="col-xs-12">
                        @Html.Partial("_AccountInfo")
                        @RenderSection("header", required: false)
                    </div>
                </div>
                <!--Конец навигационного меню текущего раздела-->
                <!--Контент страницы-->
                <div class="row">
                    <div class="">
                        <!--Заголовок контента-->
                        <div class="n-content-header" data-ng-show="!_printMode">
                            @Html.Partial("_PageHeader")
                            @RenderSection("pageHeader", required: false)
                        </div>
                        <!--Конец заголовка контента-->
                        <!--Тело контента-->
                        <div class="col-xs-12 n-content">
                            <div data-ng-view>
                                @RenderBody()
                            </div>
                        </div>
                        <!--конец тела контента-->
                    </div>
                </div>
                <!--Конец контента страницы-->
            </div>
        </div>
    </div>

    <div class="container container-footer" data-ng-show="!_printMode">
        @RenderSection("footer", required: false)
    </div>

    @Scripts.Render("~/bundles/biz")
    @RenderSection("scripts", required: false)
</body>
</html>