﻿@{
    Layout = null;
}

<div style="margin-bottom : 10px;" data-ng-cloak>
    <div data-ng-if="pageHeader.selected">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active': pageHeader.selected == 'dashboard'}"><a href="/api/biz/dashboard/view">Рабочий стол</a></li>
            <li role="presentation" ng-if="$bizIsPermitted" ng-class="{'active': pageHeader.selected == 'biz'}"><a href="/api/biz/requests/view">Заявки</a></li>
            <li role="presentation" ng-if="$spatialEditorIsPermitted" ng-class="{'active': pageHeader.selected == 'data'}"><a href="/api/biz/editor/view">Редактор данных</a></li>
            <li role="presentation" ng-if="$admIsPermitted" ng-class="{'active': pageHeader.selected == 'admin'}"><a href="/api/admin/accounts/view">Администрирование</a></li>
            <li role="presentation" ng-if="$metaIsPermitted" ng-class="{'active': pageHeader.selected == 'meta'}"><a href="/api/biz/meta/objects/view">Метаданные</a></li>
        </ul>
    </div>
</div>
